<div class="row">
  <div class="col-md-4">
    <label>Street & number</label>

    <div class="input-group">
      <input type="text" class="form-control" ng-model="data.location.street" name="street"/>
    </div>
  </div>
  <div class="col-md-2">
    <label>Postal</label>

    <div class="input-group">
      <input type="text" class="form-control" ng-model="data.location.postal_code" name="postal_code"/>
    </div>
  </div>
  <div class="col-md-3">
    <label>City</label>

    <div class="input-group">
      <input type="text" class="form-control" ng-model="data.location.city" name="city"/>
    </div>
  </div>
  <div class="col-md-3">
    <label>Country</label>

    <div class="input-group">
      <input type="text" class="form-control" ng-model="data.location.country_name" name="country_name"/>
    </div>
  </div>
</div>


