$main-green: #8DAC6C;
$main-blue: #0086C4;
$main-red: #E95547;
$main-brown: #9B7752;
$background-gray: #F3F1ED;
$light-gray: #949494;
$main-color: #71716E;

.container {

  @media (min-width: $screen-lg-desktop ) {
    width: 950px;
  }

  @media (max-width: $screen-xs)  {
    padding-left: 5px;
    padding-right: 5px;
  }
}
