@-webkit-viewport {
  width: device-width;
}


@-moz-viewport {
  width: device-width;
}


@-ms-viewport {
  width: device-width;
}


@-o-viewport {
  width: device-width;
}


@viewport {
  width: device-width;
}

@font-face {
  font-family: gillSans;
  src: url("../fonts/gillsans/gillsans.ttf") format("truetype");
}

@font-face {
  font-family: gillSans-light;
  src: url('../fonts/gillsans_light/gillsans_light-webfont.eot');
  src: url('../fonts/gillsans_light/gillsans_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gillsans_light/gillsans_light-webfont.woff') format('woff'),
  url('../fonts/gillsans_light/gillsans_light-webfont.ttf') format('truetype'),
  url('../fonts/gillsans_light/gillsans_light-webfont.svg#gillsans_lightregular') format('svg');
}

// Creating a custom padding between columns.
$grid-gutter-width: 10px;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import "compass/css3/border-radius";
@import "mixins";
@import "pages/homepage";
@import "pages/group";

// Creating a custom column set for the stats row in footer.
.col-md-15 {
  position: relative;
  min-height: 1px;
  padding-right: $grid-gutter-width;
  padding-left: $grid-gutter-width;
}

@media (min-width: $screen-md-min) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'gillSans-light', Arial;
  height: 100%;
  color: $main-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p {
    margin: 0;
  }

  a,
  a:hover {
    color: $main-blue;
    text-decoration: none;
  }

  .sans-font {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media (max-width: $screen-xs) {
      font-size: 14px;
    }
  }

  .green-title,
  .blue-title,
  .red-title,
  .brown-title {
     color: $main-green;
     font-size: 33px;
     letter-spacing: 2px;
     margin: 0;
    text-transform: uppercase;

    @media (max-width: $screen-xs) {
      font-size: 24px;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-md-max) {
      font-size: 30px;
    }

    &.blue-title {
      color: $main-blue;
    }

    &.red-title {
      color: $main-red;
    }

    &.brown-title {
      color: $main-brown;
    }
  }

  .inline-form {
    position: relative;

    input[type='text'] {
      background: white;
      border: 0 none;
      padding: 5px 10px;
      width: 100%;
      color: $main-blue;
      @include border-radius(30px);
    }

    input[type='button'] {
      border: 0 none;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border-left: 1px solid $main-blue;
    }
  }

  .post-form {
    position: relative;

    input[type='text'],
    textarea {
      background: $background-gray;
      border: 0 none;
      padding: 5px 10px;
      width: 100%;
      @include border-radius(30px);
    }

    input[type='button'] {
      border: 0 none;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border-left: 1px solid $light-gray;
    }
  }

  header {
    background-color: $header-bg;

    .eu-logo {
      float: left;
      background: url("../images/main/ec-logo.jpg") 24px 0 no-repeat;
      margin-top: 18px;
      width: 100px;
      height: 61px;
    }

    .c4d-logo {
      background: url("../images/main/c4d-logo.png") 100% 0 no-repeat;
      float: left;
      margin-top: 12px;
      padding: 5px 65px 0 10px;
      min-height: 59px;
      text-transform: none;

      @media (max-width: $screen-xs-max) {
        margin-top: 5px;
      }

      p {
        font-size: 37px;
        letter-spacing: 3px;
        color: black;
        font-weight: bold;
        margin-top: 5px;
        line-height: 25px;

        @media (max-width: $screen-xs) {
          font-size: 27px;
        }

        @media (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
          font-size: 32px;
        }

        &.slogan {
          font-size: 15px;
          font-weight: normal;
          letter-spacing: 1px;
          text-transform: none;
          margin-top: 0;

          @media (max-width: $screen-xs) {
            font-size: 13px;
            letter-spacing: 0;
          }

          @media (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
            letter-spacing: 0;
          }
        }

        i {
          font-style: normal;
          color: $dark-blue;
        }
      }
    }

    .inline-form {
      margin-top: 27px;
      float: none;
      width: 100%;
      margin-left: -8px;

      @media (max-width: $screen-xs-max) {
        margin-left: 0;
      }

      input[type='text'] {
        height: 33px;
        padding: 0 50px 0 12px;
      }

      input[type='button'] {
        background: url("../images/main/icons-sprite.png") 10px -1042px no-repeat;
        width: 47px;
        height: 21px;
        position: absolute;
        top: 5px;
        right: 0;
      }
    }

    #user-menu {
      text-transform: uppercase;
      margin-top: 28px;
      height: 51px;

      li {
        float: right;
        margin-right: 4px;
        background-color: #A5AE5C;
        box-shadow: -2px 2px 3px #949B62;
        @include border-radius(30px);

        a {
          color: white;
          padding: 6px 24px;
          display: inline-block;
          font-weight: bold;
        }
      }
    }
  }

  section {
    background: url("../images/main/main-bg-pattern.png") 0 0 repeat-x white;

    #main-nav {
      border-bottom: 1px dashed #949494;
      padding: 10px 0;
      margin: 17px 0 0;
      text-transform: uppercase;

      .navbar-toggle {
        margin-bottom: 0;

        .icon-bar {
          width: 33px;
          height: 3px;
          background-color: $main-blue;
        }
      }

      .navbar-nav {
        line-height: 20px;
        padding: 0;

        li {
          a,
          a:hover {
            color: black;
            padding: 5px 0 5px 30px;
            background: url("../images/main/icons-sprite.png") 0 0 no-repeat;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 2px;

            @media screen and (-webkit-min-device-pixel-ratio:0) {
              font-size: 16px;
            }

            @media (min-width: $screen-xs-max) and (max-width: $screen-md-max) {
              font-size: 14px;
            }


            &:after {
              content: "|";
              padding-left: 29px;

              @media (max-width: $screen-sm-max) {
                padding-left: 10px;
              }
            }
          }

          &.home {

            a {
              background-position: 0 -1169px;
            }
          }

          &.pages {

            a {
              padding-left: 58px;
              background-position: 34px -1224px;

              @media (max-width: $screen-sm-max) {
                padding-left: 42px;
                background-position: 10px -1224px;
              }
            }
          }

          &.discussions {

            a {
              padding-left: 66px;
              background-position: 35px -1271px;

              @media (max-width: $screen-sm-max) {
                padding-left: 42px;
                background-position: 10px -1271px;
              }
            }
          }

          &.library {

            a {
              padding-left: 60px;
              background-position: 35px -1323px;

              @media (max-width: $screen-sm-max) {
                padding-left: 42px;
                background-position: 10px -1323px;
              }
            }
          }

          &.events {

            a {
              padding-left: 66px;
              background-position: 35px -1379px;

              @media (max-width: $screen-sm-max) {
                padding-left: 42px;
                background-position: 10px -1379px;
              }
            }
          }

          &.tasks {

            a {
              padding-left: 58px;
              background-position: 33px -1436px;

              @media (max-width: $screen-sm-max) {
                padding-left: 42px;
                background-position: 10px -1436px;
              }
            }
          }

          &:last-child {

            a,
            a:hover {

              &:after {
                content: "";
                padding-left: 0;
              }
            }
          }

          @media (max-width: $screen-xs-max) {
            margin-bottom: 20px;

            a,
            a:hover {
              padding-left: 42px;
              font-size: 18px;

              &:after {
                content: "";
                padding-left: 0;
              }
            }

            &.home {

              a {
                background-position: 8px -1169px;
              }
            }
          }
        }
      }
    }

    .breadcrumb {
      background: none;
      margin: 4px 4px 0;
      padding: 2px 0 0;
      @include border-radius(0);

      > li {

        &:before {
          color: $main-blue;
          content: ">";
        }

        &:first-child {

          &:before {
            content: "";
          }
        }
      }
    }

    .post {
      float: left;
      margin-left: -1px;
      width: 100%;
      padding: 27px 0;
      font-size: 12px;
      border-bottom: 2px solid $background-gray;

      &.first {
        border-top: 2px solid $background-gray;
      }

      .user-info {
        padding-left: 2px;

        img {
          max-width: 95%;
          display: block;
        }
      }

      .content-wrapper {

        .post-action {
          margin-bottom: 8px;
          padding-left: 16px;

          .icon {
            border-right: 1px solid;
            width: 30px;
            height: 30px;
            margin-right: 8px;
            float: left;
            background-image: url("../images/main/icons-sprite.png");
            background-repeat: no-repeat;
            background-position: 0 0;
          }

          .author {
            display: inline-block;
            margin-top: 11px;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            padding-right: 13px;
            border-right: 2px solid;
            line-height: 10px;
          }

          .action {
            font-weight: bold;
            display: inline-block;
            padding-right: 13px;
            border-right: 2px solid;
          }

          .date {
            font-weight: bold;
            padding-left: 11px;
          }
        }

        .post-content {
          padding-left: 16px;
          margin-top: 5px;
          float: left;
          width: 100%;

          .post-title {
            font-size: 23px;
            margin: 4px 0;
            font-weight: bold;
          }

          img {
            max-width: 80%;
          }

          .user-text {
            margin-top: 10px;
          }

          .comments {
            margin-top: 3px;
            font-weight: bold;
          }

          .user-link {
            margin: 10px 0 -4px 0;
            width: 105%;

            .link-thumb {

              img {
                max-width: 95%;
              }
            }

            .link-content {
              padding-left: 19px;

              .post-action {
                color: $main-color;

                .icon {
                  background-position: 0 -105px;
                }
              }

              .post-title {
                color: $main-color;
              }
            }
          }
        }

        .round-bg {
          padding: 8px 0;
          width: 30px;
          height: 30px;
          margin-top: 10px;
        }
      }

      &.discussion-post {

        .post-action,
        .post-title {
          color: $dark-blue;

          .icon {
            background-position: 0 -32px;
          }
        }
      }

      &.document-post {
        padding-bottom: 17px;

        .post-action,
        .post-title {
          color: $main-green;

          .icon {
            background-position: 0 -319px;
          }
        }
      }

      &.event-post {
        padding-bottom: 17px;

        .post-action,
        .post-title {
          color: $main-brown;

          .icon {
            background-position: 0 -409px;
          }
        }
      }

      &.new-member-post {
        padding-bottom: 17px;

        .post-action,
        .post-title {
          color: $main-red;

          .icon {
            background-position: 0 -454px;
          }
        }
      }
    }

    .show-more-wrapper {
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      margin-top: 49px;
      float: left;

      .show-more {
        padding: 0 5px;
        position: relative;
        background-color: white;
        display: inline-block;
        top: 0;
        left: 5px;

        a {
          font-family: 'gillSans', Arial;
          background-color: $main-blue;
          display: inline-block;
          padding: 12px 43px 9px;
          color: white;
          font-weight: bold;
          @include border-radius(20px);
        }
      }
    }

    .pager {
      margin: 10px 0;

      ul {
        float: left;
        margin-top: 4px;

        li {

          > a {
            border: 0 none;
            background-color: $main-blue;
            color: white;
            padding: 2px 8px;

            &:hover,
            &:active,
            &.active {
              background-color: white;
            }
          }
        }
      }

      .back,
      .next {
        float: left;

        > a {
          float: none;
          background-color: white;
          color: $dark-blue;
          font-size: $font-size-h3;
          padding-left: 4px;
        }
      }

      .back {
        margin-right: 23px;
      }

      .next {
        margin-left: 11px;
      }

      &.small-pager {

        li {

          > a {
            padding: 5px;
            margin-right: 4px;

            &:hover,
            &:active,
            &.active {
              background-color: white;
            }
          }
        }
      }
    }

    .round-bg {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: $light-gray;
      text-transform: uppercase;
      color: white;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      @include border-radius(100px);
    }
  }

  footer {
    margin-top: 57px;
    margin-left: 50px;

    @media (max-width: $screen-md-max) {
      margin-left: 0;
    }

    .stats {
      background-color: $background-gray;
      padding: 24px 0;
      color: $main-blue;
      text-align: left;

      > div {
        padding: 0;

        a {
          background-image: url("../images/main/icons-sprite.png");
          background-repeat: no-repeat;
          padding-left: 59px;
          font-size: 16px;
          line-height: 36px;
          display: inline-block;

          @media screen and (-webkit-min-device-pixel-ratio:0) {
              font-size: 18px;
          }

          @media (min-width: $screen-xs-max) and (max-width: $screen-md-max) {
            font-size: 16px;
          }

          &.members {
            background-position: 26px -554px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
            }
          }

          &.posts {
            background-position: 42px -613px;
            padding-left: 75px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 25px -613px;
            }
          }

          &.groups {
            background-position: 21px -680px;
            padding-left: 60px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 20px -680px;
            }
          }

          &.projects {
            background-position: 13px -1103px;
            padding-left: 41px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 25px -1103px;
            }
          }

          &.articles {
            background-position: 7px -869px;
            padding-left: 37px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 25px -869px;
            }
          }
        }
      }
    }

    .footer-links {
      margin: 24px -5px;

      .links {
        float: left;
        margin: 0 -15px 0 0;

        li {
          float: left;
          font-weight: bold;
          padding-right: 18px;
          margin-right: 15px;
          line-height: 10px;
          border-right: 1px solid $main-blue;
          text-transform: capitalize;

          @media (max-width: $screen-md) {
            margin-bottom: 20px;
          }

          &.last {
            border-right: 0 none;
            padding-right: 0;
            margin-right: 0;
          }
        }

        &.gray {

          li {
            border-right: 1px solid #AEAEAC;

            a {
              color: #AEAEAC;
            }

            &.last {
              border-right: 0 none;
            }
          }
        }

        &.blue {
          margin-left: 10px;

          @media (max-width: $screen-md) {
            margin-left: 0;
          }
        }

        &.social {
          margin: 25px 0 0 0;
          float: right;

          li {
            border: 0 none;
            padding-right: 0;
            margin-right: 0;

            a {
              width: 25px;
              height: 25px;
              background-image: url("../images/main/social-sprite.jpg");
              background-repeat: no-repeat;
              display: inline-block;

              &.rss {
                background-position: 2px -27px;
              }

              &.twitter {
                background-position: 2px -53px;
              }

              &.youtube {
                background-position: 2px -79px;
              }
            }
          }
        }
      }

      .blog-link {
        text-transform: uppercase;

        .blogger-pic {
          display: block;
          width: 54px;
          height: 54px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          float: left;
          margin: 9px 0 0 8px;

          img {
            @include border-radius(50%);
          }
        }

        .blog-name {
          float: left;
          margin: 28px 0 0 10px;
          font-size: 15px;
          font-weight: bold;
        }
      }

      .unit-name,
      .europeaid-site {
        float: left;
        display: block;
        margin: 28px 0 0;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;

        @media screen and (-webkit-min-device-pixel-ratio:0) {
          font-size: 16px;
        }
      }
    }
  }
}
