@-webkit-viewport {
  width: device-width;
}


@-moz-viewport {
  width: device-width;
}


@-ms-viewport {
  width: device-width;
}


@-o-viewport {
  width: device-width;
}


@viewport {
  width: device-width;
}

@font-face {
  font-family: OstrichSans-Medium;
  src: url("../fonts/ostrich_sans/OstrichSans-Medium.otf") format("opentype");
}

// Creating a custom padding between columns.
$grid-gutter-width: 10px;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import "compass/css3/border-radius";
@import "mixins";
@import "pages/group";

// Creating a custom column set for the stats row in footer.
.col-md-15 {
  position: relative;
  min-height: 1px;
  padding-right: $grid-gutter-width;
  padding-left: $grid-gutter-width;
}

@media (min-width: $screen-md-min) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

html,body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  height: 100%;
  color: $main-color;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p {
    margin: 0;
  }

  a,
  a:hover {
    color: $main-blue;
    text-decoration: none;
  }

  .sans-font {
    font-family: 'OstrichSans-Medium';
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;

    @media (max-width: $screen-xs) {
      font-size: 14px;
    }
  }

  .green-title {
     font-family: 'OstrichSans-Medium';
     color: $main-green;
     font-size: 46px;
     letter-spacing: 2px;

    @media (max-width: $screen-xs) {
      font-size: 30px;
    }
  }

  form.inline-form {
    position: relative;

    input[type='text'] {
      background: $background-gray;
      border: 0 none;
      padding: 5px 10px;
      width: 100%;
      @include border-radius(2px);
    }

    input[type='button'] {
      border: 0 none;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border-left: 1px solid $light-gray;
    }
  }


  header {

    @media (min-width: $screen-md-min) {
      .col-sm-3 {
        width: 29%;
      }

      .col-sm-6 {
        width: 42%;
      }
    }

    #user-menu,
    #main-nav {
      float: left;
      width: 120%;
      color: black;

      li {
        float: left;
        margin-right: 15px;
        font-size: 12px;
      }
    }

    .eu-logo {
      float: left;
      background: url("../images/main/ec-logo.png") 0 0 no-repeat;
      margin-top: 22px;
      padding-left: 67px;
      min-height: 65px;
      font-size: 12px;
      letter-spacing: 2px;
      color: $main-blue;

      @media (max-width: $screen-xs-max) {
        width: 80%;
      }
    }

    .c4d-logo {
      background: url("../images/main/c4d-logo.png") 0 6px no-repeat;
      margin-top: 30px;
      padding-left: 65px;
      min-height: 65px;
      font-size: 48px;
      letter-spacing: 3px;

      @media (max-width: $screen-xs-max) {
        margin-top: 5px;
      }

      i {
        font-style: normal;
        color: $main-blue;
      }
    }

    #main-nav {
      float: right;
      width: auto;

      li {
        border-right: 1px solid $main-blue;
        margin-right: 7px;
        padding-right: 7px;
        line-height: 12px;

        &.last {
          border-right: 0 none;
        }
      }
    }

    .inline-form {
      top: 29px;
      float: right;
      width: 98%;

      @media (max-width: $screen-xs-max) {
        top: 3px;
        width: 100%;
      }

      input[type='text'] {
        height: 40px;
      }

      input[type='button'] {
        background: url("../images/main/icons-sprite.png") 10px -984px no-repeat;
        width: 48px;
        height: 28px;
        position: absolute;
        top: 7px;
        right: 0;
      }
    }

    .breadcrumb {
      background: none;
      border-top: 5px solid $main-blue;
      margin: 4px 4px 0;
      padding: 2px 0 0;
      @include border-radius(0);

      > li {
        font-size: 11px;

        &:before {
          color: $main-blue;
          content: ">";
        }

        &:first-child {

          &:before {
            content: "";
          }
        }
      }
    }
  }

  footer {
    margin-top: 104px;

    .stats {
      background-color: $background-gray;
      padding: 24px 0;
      color: $main-blue;
      text-align: left;

      > div {
        padding: 0;

        a {
          background-image: url("../images/main/icons-sprite.png");
          background-repeat: no-repeat;
          padding-left: 57px;
          font-size: 28px;
          display: inline-block;

          &.members {
            background-position: 26px -554px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
            }
          }

          &.posts {
            background-position: 42px -613px;
            padding-left: 75px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 25px -613px;
            }
          }

          &.groups {
            background-position: 25px -680px;
            padding-left: 64px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 20px -680px;
            }
          }

          &.projects {
            background-position: 15px -746px;
            padding-left: 48px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 25px -746px;
            }
          }

          &.articles {
            background-position: 15px -869px;
            padding-left: 46px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 25px -869px;
            }
          }
        }
      }
    }

    .footer-links {
      margin: 20px -5px;

      .links {
        float: left;
        margin: 0 -15px 0 0;

        li {
          float: left;
          padding-right: 15px;
          margin-right: 12px;
          border-right: 1px solid #71716e;
          line-height: 10px;
          text-transform: capitalize;
          font-size: 12px;
          
          @media (max-width: $screen-md) {
            margin-bottom: 20px;
          }

          &.last {
            border-right: 0 none;
          }
        }

        &.gray {

          a {
            color: $main-color;
          }
        }

        &.blue {
          margin-left: 10px;

          @media (max-width: $screen-md) {
            margin-left: 0;
          }
        }

        &.social {
          margin: -9px 0 0 24px;

          li {
            border: 0 none;
            padding-right: 0;
            margin-right: 0;

            a {
              width: 25px;
              height: 25px;
              background-image: url("../images/main/social-sprite.jpg");
              background-repeat: no-repeat;
              display: inline-block;

              &.rss {
                background-position: 2px -27px;
              }

              &.twitter {
                background-position: 2px -53px;
              }

              &.youtube {
                background-position: 2px -79px;
              }
            }
          }
        }
      }
    }

    .europeaid-site {
      float: left;
      display: block;
      line-height: 10px;
      font-size: 12px;
      color: #345582;
    }
  }
}
