@-webkit-viewport {
  width: device-width;
}


@-moz-viewport {
  width: device-width;
}


@-ms-viewport {
  width: device-width;
}


@-o-viewport {
  width: device-width;
}


@viewport {
  width: device-width;
}

@font-face {
  font-family: gillSans;
  src: url("../fonts/gillsans/gillsans.ttf") format("truetype");
}

@font-face {
  font-family: gillSans-light;
  src: url('../fonts/gillsans_light/gillsans_light-webfont.eot');
  src: url('../fonts/gillsans_light/gillsans_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gillsans_light/gillsans_light-webfont.woff') format('woff'),
  url('../fonts/gillsans_light/gillsans_light-webfont.ttf') format('truetype'),
  url('../fonts/gillsans_light/gillsans_light-webfont.svg#gillsans_lightregular') format('svg');
}

// Creating a custom padding between columns.
$grid-gutter-width: 10px;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import "compass/css3/border-radius";
@import "mixins";
@import "pages/group";

// Creating a custom column set for the stats row in footer.
.col-md-15 {
  position: relative;
  min-height: 1px;
  padding-right: $grid-gutter-width;
  padding-left: $grid-gutter-width;
}

@media (min-width: $screen-md-min) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

html,body {
  margin: 0;
  padding: 0;
  font-family: 'gillSans-light', Arial;
  height: 100%;
  color: $main-color;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p {
    margin: 0;
  }

  a,
  a:hover {
    color: $main-blue;
    text-decoration: none;
  }

  .sans-font {
    font-family: 'gillSans-light', Arial;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media (max-width: $screen-xs) {
      font-size: 14px;
    }
  }

  .green-title,
  .blue-title,
  .red-title {
     font-family: 'gillSans-light', Arial;
     color: $main-green;
     font-size: 46px;
     letter-spacing: 2px;
     margin: 0;

    @media (max-width: $screen-xs) {
      font-size: 30px;
    }

    &.blue-title {
      color: $main-blue;
    }

    &.red-title {
      color: $main-red;
    }
  }

  .inline-form {
    position: relative;

    input[type='text'] {
      background: white;
      border: 0 none;
      padding: 5px 10px;
      width: 100%;
      color: $main-blue;
      @include border-radius(30px);
    }

    input[type='button'] {
      border: 0 none;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border-left: 1px solid $main-blue;
    }
  }

  .post-form {
    position: relative;

    input[type='text'],
    textarea {
      background: $background-gray;
      border: 0 none;
      padding: 5px 10px;
      width: 100%;
      @include border-radius(30px);
    }

    input[type='button'] {
      border: 0 none;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border-left: 1px solid $light-gray;
    }
  }

  header {
    background-color: $header-bg;

    .eu-logo {
      float: left;
      background: url("../images/main/ec-logo.jpg") 24px 0 no-repeat;
      margin-top: 20px;
      width: 100px;
      height: 61px;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      color: $main-blue;

      @media (max-width: $screen-xs-max) {
        width: 80%;
      }
    }

    .c4d-logo {
      background: url("../images/main/c4d-logo.png") 100% 0 no-repeat;
      float: left;
      margin-top: 12px;
      padding: 5px 69px 0 19px;
      min-height: 61px;

      @media (max-width: $screen-xs-max) {
        margin-top: 5px;
      }

      p {
        font-size: 28px;
        letter-spacing: 3px;
        color: black;
        font-weight: bold;
        margin-top: 5px;
        line-height: 25px;

        &.slogan {
          font-size: 15px;
          font-weight: normal;
          letter-spacing: 1px;
          text-transform: none;
          margin-top: 0;
        }

        i {
          font-style: normal;
          color: $dark-blue;
        }
      }
    }

    .inline-form {
      margin-top: 20px;
      float: none;
      width: 96%;

      @media (max-width: $screen-xs-max) {
        top: 3px;
        width: 100%;
      }

      input[type='text'] {
        height: 33px;
        font-size: 12px;
        padding: 0 50px 0 2px;
      }

      input[type='button'] {
        background: url("../images/main/icons-sprite.png") 10px -1042px no-repeat;
        width: 47px;
        height: 21px;
        position: absolute;
        top: 5px;
        right: 0;
      }
    }

    #user-menu {
      text-transform: uppercase;
      margin-top: 20px;

      li {
        float: right;
        margin-right: 15px;
        font-size: 12px;
        background-color: #A5AE5C;
        box-shadow: -2px 2px 3px #949B62;
        @include border-radius(30px);

        a {
          color: white;
          padding: 6px 20px;
          display: inline-block;
        }
      }
    }
  }

  section {

    #main-nav {
      font-family: 'gillSans-light', Arial;
      font-size: 23px;
      font-weight: bold;
      border-bottom: 1px dashed $light-gray;
      padding: 10px 0;
      letter-spacing: 1px;
      margin: 13px 15px 0 2px;

      > div {
        line-height: 18px;

        a,
        a:hover {
          color: black;
          padding-left: 36px;
          background: url("../images/main/icons-sprite.png") 0 0 no-repeat;

          &:after {
            content: "|";
            padding-left: 45px;
          }
        }

        &.home {

          a {
            background-position: 6px -1172px;
          }
        }

        &.pages {

          a {
            padding-left: 33px;
            background-position: 8px -1226px;
          }
        }

        &.blog {

          a {
            padding-left: 47px;
            background-position: 12px -1273px;
          }
        }

        &.library {

          a {
            padding-left: 46px;
            background-position: 15px -1325px;
          }
        }

        &.events {

          a {
            padding-left: 74px;
            background-position: 41px -1383px;
          }
        }

        &.tasks {

          a {
            padding-left: 89px;
            background-position: 63px -1439px;

            &:after {
              content: "";
              padding-left: 0;
            }
          }
        }
      }
    }

    .round-bg {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: $light-gray;
      text-transform: uppercase;
      color: white;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      @include border-radius(100px);
    }
  }

  footer {
    margin-top: 24px;

    .stats {
      background-color: $background-gray;
      padding: 24px 0;
      color: $main-blue;
      text-align: left;

      > div {
        padding: 0;

        a {
          background-image: url("../images/main/icons-sprite.png");
          background-repeat: no-repeat;
          padding-left: 59px;
          font-size: 28px;
          display: inline-block;

          &.members {
            background-position: 26px -554px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
            }
          }

          &.posts {
            background-position: 42px -613px;
            padding-left: 75px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 25px -613px;
            }
          }

          &.groups {
            background-position: 21px -680px;
            padding-left: 60px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 20px -680px;
            }
          }

          &.projects {
            background-position: 13px -1103px;
            padding-left: 41px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 25px -1103px;
            }
          }

          &.articles {
            background-position: 7px -869px;
            padding-left: 37px;

            @media (max-width: $screen-xs-max) {
              padding-left: 70px;
              background-position: 25px -869px;
            }
          }
        }
      }
    }

    .footer-links {
      margin: 20px -5px;

      .links {
        float: left;
        margin: 0 -15px 0 0;

        li {
          float: left;
          padding-right: 15px;
          margin-right: 12px;
          border-right: 1px solid #71716e;
          line-height: 10px;
          text-transform: capitalize;
          font-size: 12px;
          
          @media (max-width: $screen-md) {
            margin-bottom: 20px;
          }

          &.last {
            border-right: 0 none;
          }
        }

        &.gray {

          a {
            color: $main-color;
          }
        }

        &.blue {
          margin-left: 10px;

          @media (max-width: $screen-md) {
            margin-left: 0;
          }
        }

        &.social {
          margin: -9px 0 0 24px;

          li {
            border: 0 none;
            padding-right: 0;
            margin-right: 0;

            a {
              width: 25px;
              height: 25px;
              background-image: url("../images/main/social-sprite.jpg");
              background-repeat: no-repeat;
              display: inline-block;

              &.rss {
                background-position: 2px -27px;
              }

              &.twitter {
                background-position: 2px -53px;
              }

              &.youtube {
                background-position: 2px -79px;
              }
            }
          }
        }
      }
    }

    .europeaid-site {
      float: left;
      display: block;
      line-height: 10px;
      font-size: 12px;
      color: $dark-blue;
      margin-left: -9px;
    }
  }
}
