#page-header {
  width: 100%;
}

// User bar on top of the site.
#user-bar {
  background: $userbar-blue;
  color: $color-white;
  line-height: 28px;
  width: 100%;

  a {
    border-bottom: 1px dashed $color-white;
    color: $color-white;
    text-decoration: none;

    &:hover {
      border-bottom-style: solid;
      text-decoration: none;
    }
  }

  #block-c4m-user-profile-user-notifications {
    text-align: right;
  }
  
  #block-c4m-user-profile-user-welcome {
    float: right;
    
    .userbar-user-login {
      float: right;
    }

    .userbar-userprofile {
      float: right;

      .fullname-picture {
        padding: 5px 20px 5px 5px;
        @include clearfix;
        @include image-icon-png-fallback('icons', 'arrow-highlight-blue-down');
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: 100% 50%;

        .profile-picture, .no-avatar, .fullname {
          float: left;
        }
        .profile-picture {
          height: 30px;
          width: auto;
          margin-right: 10px;
          border-radius: 50%;
        }
        .no-avatar {
          height: 30px;
          width: 30px;
          font-size: 12px;
          line-height: 30px;
          margin-right: 10px;
        }
      }

      .user-profile-menu {
        right: 0;
        left: initial;

        li {
          color: $link-color;

          a {
            color: $link-color;
          }
        }
      }
    }
  }
}


// EC logo bar.
#header-ec-wrapper {
  a.logo {
    padding: 10px 0;
  }
}


// Navigation.
.navbar.container {
  background: $color-white;
  border: 0;
  border-radius: 0;
  margin-top: 0;
}

