/*
This a temporary file.
@TODO: Move all this css to website's SCSS.
*/

.explanation {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.errors {
  color: #b94a48;
}

.create-success {
  padding: 20px;
  background: yellow;
  text-align: center;
}

.input-wrapper {
  margin-bottom: 20px;
}

ul, ol {
  list-style: none;
}

.form-group {
  width: 100%;
}

.form-group .label-wrapper {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  width: 100%;
  display: block;
}

.form-group .drop-box {
  height: 80px;
  text-align: center;
  display: table-cell;
  width: 565px;
}

.file-upload-drag {
  background: grey;
  border-color: lightBlue;
}

.file-wrapper img {
  height: 50px;
  width: 50px;
}

.selected-values {
  display: block;
  float: left;
  width: 100%;
}

.selected-values span {
  margin-right: 4px;
  float: left;
  display: inline-block;
}

.selected-values span .fa-times {
  color: #136FBC;
  cursor: pointer;
}

.checkboxes-wrapper button.btn.btn-primary.fa.fa-plus {
  padding: 2px 4px;
  left: 0;
}

.checkboxes-wrapper {
  position: relative;
}

.checkboxes-wrapper .hidden-checkboxes {
  display: block;
  left: 120px;
  top: -80px;
}

.popover-content {
  height: 190px;
  overflow-y: scroll;
}

.date .input-group table tr.text-center {
  display: none;
}

.date .date-chevron {
  margin-top: 30px;
  text-align: center;
}

.actions {
  margin-top: 20px;
}

.actions .btn-primary {
  float: left;
}

#full-from-button {
  margin: 15px 0 0 30px;
  display: inline-block;
  float: left;
}


#clear-button {
  margin: 15px 0 0 30px;
  display: inline-block;
  float: right;
}
.messages {
  float: left;
  width: 100%;
  margin-top: 20px;
}
