/*
This a temporary file.
@TODO: Move all this css to website's SCSS.
*/

.explanation {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.errors {
  color: #b94a48;
}

#new-activities-button {
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.activities {
  -webkit-transition: 1.5s;
}
.activities.ng-enter {
  opacity: 0;
  background: yellow;
}
.activities.ng-leave {
  opacity: 1;
  background: transparent;
}
.activities.ng-enter.ng-enter-active {
  opacity: 1;
  background: yellow;
}
.activities.ng-leave.ng-leave-active {
  opacity: 0;
  background: transparent;
}

.create-success {
  padding: 20px;
  background: yellow;
  text-align: center;
}

.input-wrapper {
  margin-bottom: 20px;
}

ul, ol {
  list-style: none;
}

.form-group {
  width: 100%;
}

.form-group .label-wrapper {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  width: 100%;
  display: block;
}

.form-group .drop-box {
  height: 80px;
  text-align: center;
  display: table-cell;
  width: 565px;
}

.file-upload-drag {
  background: grey;
  border-color: lightBlue;
}

.file-wrapper img {
  height: 50px;
  width: 50px;
}

.checkboxes-wrapper {
  position: relative;
}

.checkboxes-wrapper .hidden-checkboxes {
  display: block;
  left: 120px;
  top: -80px;
}

.popover-content {
  height: 190px;
  overflow-y: scroll;
}

.date .input-group table tr.text-center {
  display: none;
}

.date .date-chevron {
  margin-top: 30px;
  text-align: center;
}

.actions {
  margin: 25px 0;
}

.messages {
  margin-top: 20px;
}
