html.js .toggle-enable {
  float: left;
  margin-right: 1em;
  position: relative;
  width: 50px;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.50) inset;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.50) inset;
  box-shadow: 0 0 10px rgba(0,0,0,0.50) inset;
  background-clip: padding-box;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(50%, red), color-stop(50%, orange), color-stop(100%, orange));
  background-image: -moz-linear-gradient(left, red 50%, orange 50%, orange 100%);
  background-image: linear-gradient(left, red 50%, orange 50%, orange 100%);
}
html.js .toggle-enable.enabled {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(50%, orange), color-stop(50%, green), color-stop(100%, green));
  background-image: -moz-linear-gradient(left, orange 50%, green 50%, green 100%);
  background-image: linear-gradient(left, orange 50%, green 50%, green 100%);
}
html.js .toggle-enable.disabled {
  background: #ccc;
  border-color: #ddd;
  cursor: auto;
}
html.js .toggle-enable div {
  position: relative;
  color: #777;
  width: 26px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background: white;
  text-shadow: 1px 1px 0 white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fefefe), color-stop(100%, #eaeaea));
  background-image: -moz-linear-gradient(top, #fefefe 0%, #eaeaea 100%);
  background-image: linear-gradient(top, #fefefe 0%, #eaeaea 100%);
  -webkit-transition: left 0.2s;
  -mox-transition: left 0.2s;
  -o-transition: left 0.2s;
  transition: left 0.2s;
}
html.js .toggle-enable.disabled div {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fefefe), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(top, #fefefe 0%, #eeeeee 100%);
  background-image: linear-gradient(top, #fefefe 0%, #eeeeee 100%);
}
html.js .toggle-enable div:after,
html.js .toggle-enable div:before {
  color: white;
  text-shadow: none;
  width: 25px;
  position: absolute;
  top: 0;
  font-size: 9px;
  font-weight: bold;
}
html.js .toggle-enable div:before {
  content: "OFF";
  left: -24px;
}
html.js .toggle-enable div:after {
  content: "ON";
  right: -24px;
}
html.js .toggle-enable.off div {
  left: 24px;
}
