.icon-arrow-black-down { background-image: url('png/arrow-black-down.png'); background-repeat: no-repeat; }

.icon-arrow-black-left { background-image: url('png/arrow-black-left.png'); background-repeat: no-repeat; }

.icon-arrow-black-right { background-image: url('png/arrow-black-right.png'); background-repeat: no-repeat; }

.icon-arrow-black-up { background-image: url('png/arrow-black-up.png'); background-repeat: no-repeat; }

.icon-arrow-blue-down { background-image: url('png/arrow-blue-down.png'); background-repeat: no-repeat; }

.icon-arrow-blue-left { background-image: url('png/arrow-blue-left.png'); background-repeat: no-repeat; }

.icon-arrow-blue-right { background-image: url('png/arrow-blue-right.png'); background-repeat: no-repeat; }

.icon-arrow-blue-up { background-image: url('png/arrow-blue-up.png'); background-repeat: no-repeat; }

.icon-arrow-gray-dark-down { background-image: url('png/arrow-gray-dark-down.png'); background-repeat: no-repeat; }

.icon-arrow-gray-dark-left { background-image: url('png/arrow-gray-dark-left.png'); background-repeat: no-repeat; }

.icon-arrow-gray-dark-right { background-image: url('png/arrow-gray-dark-right.png'); background-repeat: no-repeat; }

.icon-arrow-gray-dark-up { background-image: url('png/arrow-gray-dark-up.png'); background-repeat: no-repeat; }

.icon-arrow-gray-darker-down { background-image: url('png/arrow-gray-darker-down.png'); background-repeat: no-repeat; }

.icon-arrow-gray-darker-right { background-image: url('png/arrow-gray-darker-right.png'); background-repeat: no-repeat; }

.icon-arrow-highlight-blue-down { background-image: url('png/arrow-highlight-blue-down.png'); background-repeat: no-repeat; }

.icon-arrow-highlight-blue-left { background-image: url('png/arrow-highlight-blue-left.png'); background-repeat: no-repeat; }

.icon-arrow-highlight-blue-right { background-image: url('png/arrow-highlight-blue-right.png'); background-repeat: no-repeat; }

.icon-arrow-highlight-blue-up { background-image: url('png/arrow-highlight-blue-up.png'); background-repeat: no-repeat; }

.icon-arrow-orange-right { background-image: url('png/arrow-orange-right.png'); background-repeat: no-repeat; }

.icon-articles-icon { background-image: url('png/articles-icon.png'); background-repeat: no-repeat; }

.icon-checkmark { background-image: url('png/checkmark.png'); background-repeat: no-repeat; }

.icon-comment-reply { background-image: url('png/comment-reply.png'); background-repeat: no-repeat; }

.icon-comment { background-image: url('png/comment.png'); background-repeat: no-repeat; }

.icon-count-comments { background-image: url('png/count-comments.png'); background-repeat: no-repeat; }

.icon-count-downloads { background-image: url('png/count-downloads.png'); background-repeat: no-repeat; }

.icon-count-views { background-image: url('png/count-views.png'); background-repeat: no-repeat; }

.icon-create-discussion { background-image: url('png/create-discussion.png'); background-repeat: no-repeat; }

.icon-discussion-debate { background-image: url('png/discussion-debate.png'); background-repeat: no-repeat; }

.icon-discussion-icon-hover { background-image: url('png/discussion-icon-hover.png'); background-repeat: no-repeat; }

.icon-discussion-icon { background-image: url('png/discussion-icon.png'); background-repeat: no-repeat; }

.icon-discussion-idea { background-image: url('png/discussion-idea.png'); background-repeat: no-repeat; }

.icon-discussion-info { background-image: url('png/discussion-info.png'); background-repeat: no-repeat; }

.icon-discussion-qp-debate-hover { background-image: url('png/discussion-qp-debate-hover.png'); background-repeat: no-repeat; }

.icon-discussion-qp-debate { background-image: url('png/discussion-qp-debate.png'); background-repeat: no-repeat; }

.icon-discussion-qp-icon-hover { background-image: url('png/discussion-qp-icon-hover.png'); background-repeat: no-repeat; }

.icon-discussion-qp-icon { background-image: url('png/discussion-qp-icon.png'); background-repeat: no-repeat; }

.icon-discussion-qp-idea-hover { background-image: url('png/discussion-qp-idea-hover.png'); background-repeat: no-repeat; }

.icon-discussion-qp-idea { background-image: url('png/discussion-qp-idea.png'); background-repeat: no-repeat; }

.icon-discussion-qp-info-hover { background-image: url('png/discussion-qp-info-hover.png'); background-repeat: no-repeat; }

.icon-discussion-qp-info { background-image: url('png/discussion-qp-info.png'); background-repeat: no-repeat; }

.icon-discussion-qp-question-hover { background-image: url('png/discussion-qp-question-hover.png'); background-repeat: no-repeat; }

.icon-discussion-qp-question { background-image: url('png/discussion-qp-question.png'); background-repeat: no-repeat; }

.icon-discussion-question { background-image: url('png/discussion-question.png'); background-repeat: no-repeat; }

.icon-document-excel { background-image: url('png/document-excel.png'); background-repeat: no-repeat; }

.icon-document-image { background-image: url('png/document-image.png'); background-repeat: no-repeat; }

.icon-document-pdf { background-image: url('png/document-pdf.png'); background-repeat: no-repeat; }

.icon-document-powerpoint { background-image: url('png/document-powerpoint.png'); background-repeat: no-repeat; }

.icon-document-qp-icon-hover { background-image: url('png/document-qp-icon-hover.png'); background-repeat: no-repeat; }

.icon-document-qp-icon { background-image: url('png/document-qp-icon.png'); background-repeat: no-repeat; }

.icon-document-unknown { background-image: url('png/document-unknown.png'); background-repeat: no-repeat; }

.icon-document-word { background-image: url('png/document-word.png'); background-repeat: no-repeat; }

.icon-document-zip { background-image: url('png/document-zip.png'); background-repeat: no-repeat; }

.icon-download-link { background-image: url('png/download-link.png'); background-repeat: no-repeat; }

.icon-event-icon-hover { background-image: url('png/event-icon-hover.png'); background-repeat: no-repeat; }

.icon-event-icon { background-image: url('png/event-icon.png'); background-repeat: no-repeat; }

.icon-event-qp-event-hover { background-image: url('png/event-qp-event-hover.png'); background-repeat: no-repeat; }

.icon-event-qp-event { background-image: url('png/event-qp-event.png'); background-repeat: no-repeat; }

.icon-event-qp-icon-hover { background-image: url('png/event-qp-icon-hover.png'); background-repeat: no-repeat; }

.icon-event-qp-icon { background-image: url('png/event-qp-icon.png'); background-repeat: no-repeat; }

.icon-event-qp-learning-hover { background-image: url('png/event-qp-learning-hover.png'); background-repeat: no-repeat; }

.icon-event-qp-learning { background-image: url('png/event-qp-learning.png'); background-repeat: no-repeat; }

.icon-event-qp-meeting-hover { background-image: url('png/event-qp-meeting-hover.png'); background-repeat: no-repeat; }

.icon-event-qp-meeting { background-image: url('png/event-qp-meeting.png'); background-repeat: no-repeat; }

.icon-event { background-image: url('png/event.png'); background-repeat: no-repeat; }

.icon-events-icon { background-image: url('png/events-icon.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-facebook_icon_black { background-image: url('png/facebook_icon_black.png'); background-repeat: no-repeat; }

.icon-googleplus_icon_black { background-image: url('png/googleplus_icon_black.png'); background-repeat: no-repeat; }

.icon-group-home-icon-hover { background-image: url('png/group-home-icon-hover.png'); background-repeat: no-repeat; }

.icon-group-home-icon { background-image: url('png/group-home-icon.png'); background-repeat: no-repeat; }

.icon-groups-icon { background-image: url('png/groups-icon.png'); background-repeat: no-repeat; }

.icon-header-button { background-image: url('png/header-button.png'); background-repeat: no-repeat; }

.icon-icon-missing { background-image: url('png/icon-missing.png'); background-repeat: no-repeat; }

.icon-library-icon-hover { background-image: url('png/library-icon-hover.png'); background-repeat: no-repeat; }

.icon-library-icon { background-image: url('png/library-icon.png'); background-repeat: no-repeat; }

.icon-linkedin_icon_black { background-image: url('png/linkedin_icon_black.png'); background-repeat: no-repeat; }

.icon-members-icon { background-image: url('png/members-icon.png'); background-repeat: no-repeat; }

.icon-missing_icon { background-image: url('png/missing_icon.png'); background-repeat: no-repeat; }

.icon-pin { background-image: url('png/pin.png'); background-repeat: no-repeat; }

.icon-posts-icon { background-image: url('png/posts-icon.png'); background-repeat: no-repeat; }

.icon-projects-icon { background-image: url('png/projects-icon.png'); background-repeat: no-repeat; }

.icon-rss { background-image: url('png/rss.png'); background-repeat: no-repeat; }

.icon-stats-comments { background-image: url('png/stats-comments.png'); background-repeat: no-repeat; }

.icon-stats-discussions { background-image: url('png/stats-discussions.png'); background-repeat: no-repeat; }

.icon-stats-documents { background-image: url('png/stats-documents.png'); background-repeat: no-repeat; }

.icon-stats-event { background-image: url('png/stats-event.png'); background-repeat: no-repeat; }

.icon-stats-members { background-image: url('png/stats-members.png'); background-repeat: no-repeat; }

.icon-stats-pages { background-image: url('png/stats-pages.png'); background-repeat: no-repeat; }

.icon-stats-photo { background-image: url('png/stats-photo.png'); background-repeat: no-repeat; }

.icon-stats-photoalbums { background-image: url('png/stats-photoalbums.png'); background-repeat: no-repeat; }

.icon-stats-recommendations { background-image: url('png/stats-recommendations.png'); background-repeat: no-repeat; }

.icon-stats-task { background-image: url('png/stats-task.png'); background-repeat: no-repeat; }

.icon-stats-task_list { background-image: url('png/stats-task_list.png'); background-repeat: no-repeat; }

.icon-tasks-icon-hover { background-image: url('png/tasks-icon-hover.png'); background-repeat: no-repeat; }

.icon-tasks-icon { background-image: url('png/tasks-icon.png'); background-repeat: no-repeat; }

.icon-tumblr19 { background-image: url('png/tumblr19.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-twitter_icon_black { background-image: url('png/twitter_icon_black.png'); background-repeat: no-repeat; }

.icon-vimeo21 { background-image: url('png/vimeo21.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('png/youtube.png'); background-repeat: no-repeat; }

.icon-youtube30 { background-image: url('png/youtube30.png'); background-repeat: no-repeat; }

