<footer>
  <div class="row stats sans-font">
    <div class="col-xs-15">
      <a href="#" class="members">10543 members</a>
    </div>
    <div class="col-xs-15">
      <a href="#" class="posts">0028 posts</a>
    </div>
    <div class="col-xs-15">
      <a href="#" class="groups">315 groups</a>
    </div>
    <div class="col-xs-15">
      <a href="#" class="projects">23 projects</a>
    </div>
    <div class="col-xs-15">
      <a href="#" class="articles">387 articles</a>
    </div>
  </div>
  <div class="row footer-links">
    <div class="col-md-5">
      <ul class="links gray">
        <li class="first"><a href="#">contact us</a></li>
        <li><a href="#">legal notices</a></li>
        <li><a href="#">privacy</a></li>
        <li><a href="#">conditions</a></li>
        <li class="last"><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="links blue">
        <li class="first"><a href="#">voices & views</a></li>
        <li><a href="#">topics</a></li>
        <li><a href="#">groups</a></li>
        <li class="last"><a href="#">people</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <a href="#" class="europeaid-site">EuropeAid website</a>
      <ul class="links social">
        <li class="first"><a href="#" class="facebook"></a></li>
        <li><a href="#" class="rss"></a></li>
        <li><a href="#" class="twitter"></a></li>
        <li class="last"><a href="#" class="youtube"></a></li>
      </ul>
    </div>
  </div>
</footer>
