<footer>
  <div class="row stats">
    <div class="col-md-2">
      <div class="members">
        10543 members
      </div>
    </div>
    <div class="col-md-2">
      <div class="post">
        0028 posts
      </div>
    </div>
    <div class="col-md-2">
      <div class="groups">
        315 groups
      </div>
    </div>
    <div class="col-md-2">
      <div class="projects">
        23 projects
      </div>
    </div>
    <div class="col-md-2">
      <div class="articles">
        387 articles
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <ul class="links-gray">
        <li><a href="#">contact us</a></li>
        <li><a href="#">legal notices</a></li>
        <li><a href="#">privacy</a></li>
        <li><a href="#">conditions</a></li>
        <li><a href="#">faq</a></li>
      </ul>
    </div>
    <div class="col-md-5">
      <ul class="links-blue">
        <li><a href="#">voices & views</a></li>
        <li><a href="#">topics</a></li>
        <li><a href="#">groups</a></li>
        <li><a href="#">people</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <a href="#" class="europeaid-site">EuropeAid website</a>
      <ul class="social-links">
        <li><a href="#"><i class="social"></i></a></li>
        <li><a href="#"><i class="social"></i></a></li>
        <li><a href="#"><i class="social"></i></a></li>
        <li><a href="#"><i class="social"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
