<header>
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <div class="c4d-logo sans-font">
        <p>capacity<i>4</i>dev.eu</p>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="eu-logo sans-font">
        <p>Development & cooperation europeAid</p>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <form action="#" class="inline-form">
        <input type="text" placeholder="Search in groups"/>
        <input type="button"/>
      </form>
      <ul id="user-menu">
        <li class="last"><a href="#">login</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <ul class="breadcrumb">
      <li><a href="#">European Commission</a></li>
      <li><a href="#">EuropeAid</a></li>
      <li><a href="#">capacity4dev.eu</a></li>
      <li><a href="#">Groups</a></li>
    </ul>
  </div>
</header>
