<header>
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <ul id="user-menu">
        <li class="first">Welcome guest</li>
        <li><a href="#">Become a mamber</a></li>
        <li class="last"><a href="#">Sign in</a></li>
      </ul>
      <div class="eu-logo sans-font">
        <p>Development and cooperation europeAid</p>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="c4d-logo sans-font">
        <p>c<i>4</i>d.eu</p>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <ul id="main-nav" class="hidden-xs">
        <li class="first"><a href="#">About</a></li>
        <li><a href="#">Help & Guidance</a></li>
        <li><a href="#">Legal Notices</a></li>
        <li class="last"><a href="#">Contact</a></li>
      </ul>
      <form action="#" class="inline-form">
        <input type="text" placeholder="Search in groups"/>
        <input type="button"/>
      </form>
    </div>
  </div>
  <div class="row">
    <ul class="breadcrumb">
      <li><a href="#">European Commission</a></li>
      <li><a href="#">EuropeAid</a></li>
      <li><a href="#">capacity4dev.eu</a></li>
      <li><a href="#">Groups</a></li>
    </ul>
  </div>
</header>
