body {

  &.og-context {

    .panel-panel.left {

      > div {

        &:first-child {

          .first {
            margin-top: 0;

            .row {
              border-top: 0;
              margin-top: 0;
              padding-top: 0;
            }
          }
        }
      }
    }

    .activity-stream {

      .message-group {
        display: none;
      }
    }
  }

  .activity-stream {

    #new-activities-button {
      cursor: pointer;
      text-align: center;
      font-size: 16px;
    }

//    .activities {
      @include transition(1.5s);
      margin-top: 20px;

      &.ng-enter {
        opacity: 0;
        background: $activity-load;
      }

      &.ng-leave {
        opacity: 1;
        background: transparent;
      }

      &.ng-enter,
      &.ng-enter-active {
        opacity: 1;
        background: $activity-load;
      }

      &.ng-leave,
      &.ng-leave-active {
        opacity: 0;
        background: transparent;
      }

      .row {
        border-top: 1px solid $gray-light;
        margin: 15px 0 0 0;
        padding: 15px 0 0 0;
      }

      .activity-row {
        .row {
          border: 0;
          margin: 0;
          padding: 0;
        }

        .as-icon {
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: 35px;

          float: left;
          height: 35px;
          width: 35px;
        }

        .as-item {
          margin: 0 0 0 35px;
          padding-left: 15px;
        }
      }
//    }

    .show-more-wrapper, .more-link {
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      margin-top: 49px;
      float: left;

      .show-more {
        padding: 0 5px;
        position: relative;
        background-color: white;
        display: inline-block;
        top: 0;
        left: 5px;
      }

      a,
      span {
        background-color: $highlight-blue;
        border-radius: 20px;
        display: inline-block;
        padding: 12px 43px 9px;
        color: white;
        font-weight: bold;
      }
    }
  }

  .row-header {
    color: $highlight-blue;
    font-size: 0.9em;

    a {
      color: $highlight-blue;
    }

    .separator {
      border-color: $highlight-blue;
    }

    .post-date {
      color: $color-gray;
    }
  }

  .message-title {
    a {
      font-size: 1.2em;
      text-transform: uppercase;
    }
  }

  .row-footer {
    margin-top: 25px;
  }

  .row-entity-count {
    @extend %svg-icon;

    color: $color-blue-dark;

    &.count-views {
      @include image-icon-png-fallback('icons', 'count-views');
    }

    &.count-downloads {
      @include image-icon-png-fallback('icons', 'count-downloads');
    }

    &.count-comments {
      @include image-icon-png-fallback('icons', 'count-comments');

      & + .count-views {
        margin-left: 50px;

        & + .count-downloads {
          margin-left: 50px;
        }
      }
    }
  }

  .download-link-icon {
    @extend %svg-icon;
    @include image-icon-png-fallback('icons', 'download-link');

    padding-left: 35px;
    font-size: 90%;
    line-height: 1.1;

    .download-link {
      text-transform: uppercase;
    }
  }

  .as-document {
    @include image-icon-png-fallback('icons', 'document-unknown');
  }

  .as-document-bmp,
  .as-document-gif,
  .as-document-ico,
  .as-document-jpeg,
  .as-document-jpg,
  .as-document-png {
    @include image-icon-png-fallback('icons', 'document-image');
  }

  .as-document-zip {
    @include image-icon-png-fallback('icons', 'document-zip');
  }

  .as-document-ppt,
  .as-document-pptx,
  .as-document-pps,
  .as-document-odp {
    @include image-icon-png-fallback('icons', 'document-powerpoint');
  }

  .as-document-word,
  .as-document-odt {
    @include image-icon-png-fallback('icons', 'document-word');
  }

  .as-document-ods,
  .as-document-odf,
  .as-document-xls,
  .as-document-xlsx {
    @include image-icon-png-fallback('icons', 'document-excel');
  }

  .as-document-pdf {
    @include image-icon-png-fallback('icons', 'document-pdf');
  }

  .as-discussion-info {
    @include image-icon-png-fallback('icons', 'discussion-info');
  }

  .as-discussion-idea {
    @include image-icon-png-fallback('icons', 'discussion-idea');
  }

  .as-discussion-question {
    @include image-icon-png-fallback('icons', 'discussion-question');
  }

  .as-discussion-debate {
    @include image-icon-png-fallback('icons', 'discussion-debate');
  }

  .as-comment {
    @include image-icon-png-fallback('icons', 'comment');
  }

  .as-event, .as-event-event {
    @include image-icon-png-fallback('icons', 'event');
  }
}
