.node-type-article {
  .view-mode-full {
    .field-name-c4m-banner {
      margin-bottom: 20px;
    }
    .field-name-c4m-intro-text {
      font-weight: bold;
      margin-bottom: 20px;
    }
    .group-right {
      h3.label-above {
        margin-top: 20px;
      }
      .user-name {
        display: inline;
        margin-left: 0.2em;
        &:after {
          content: ",";
        }
      }
    }
  }
}
