.block-title {
  border-bottom: 1px dashed $highlight-blue;
  color: $highlight-blue;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.block {
  ul {
    padding: 0;

    ul {
      padding-left: 1em;
    }
  }
}

.pane-c4m-features-homepage-global-statistics-summary {
  .statistics-list {
    @include clearfix;
    li.statistics-item {
      float: left;
      width: 20%;
      padding: 5px 20px 5px 40px;
      color: $color-blue-light;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: 0 50%;

      &.stats-users {
        @include image-icon-png-fallback('icons', 'missing_icon');
      }
      &.stats-posts {
        @include image-icon-png-fallback('icons', 'missing_icon');
      }
      &.stats-groups {
        @include image-icon-png-fallback('icons', 'missing_icon');
      }
      &.stats-projects {
        @include image-icon-png-fallback('icons', 'missing_icon');
      }
      &.stats-articles {
        @include image-icon-png-fallback('icons', 'missing_icon');
      }
    }
  }
}