.block-title {
  border-bottom: 1px dashed $highlight-blue;
  color: $highlight-blue;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.block {
  ul {
    padding: 0;

    ul {
      padding-left: 1em;
    }
  }
}

.pane-c4m-content-global-statistics-summary {
  .statistics-list {
    @include clearfix;
    background-color: $color-blue-ultra-light;
    padding: 10px 20px;

    li.statistics-item {
      float: left;
      width: 20%;
      padding: 5px 20px 5px 40px;
      color: $color-blue-light;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: 0 50%;

      &.users {
        @include image-icon-png-fallback('icons', 'members-icon');
      }
      &.posts {
        @include image-icon-png-fallback('icons', 'posts-icon');
      }
      &.groups {
        @include image-icon-png-fallback('icons', 'groups-icon');
      }
      &.projects {
        @include image-icon-png-fallback('icons', 'projects-icon');
      }
      &.articles {
        @include image-icon-png-fallback('icons', 'articles-icon');
      }
    }
  }
}

.pane-c4m-content-group-statistics-summary,
.field-name-c4m-content-group-statistics {
  .statistics-list {
    @include clearfix;

    li.statistics-item {
      float: left;
      width: 50%;
      padding: 3px 20px 3px 30px;
      background-size: 26px;
      background-repeat: no-repeat;
      background-position: 0 50%;

      &.og-users{
        @include image-icon-png-fallback('icons', 'library-icon');
      }
      &.og-wiki-pages {
        @include image-icon-png-fallback('icons', 'library-icon');
      }
      &.og-documents {
        @include image-icon-png-fallback('icons', 'library-icon');
      }
      &.og-tasklists {
        @include image-icon-png-fallback('icons', 'tasks-icon');
      }
      &.og-tasks {
        @include image-icon-png-fallback('icons', 'tasks-icon');
      }
      &.og-comments {
        @include image-icon-png-fallback('icons', 'library-icon');
      }
      &.og-discussions {
        @include image-icon-png-fallback('icons', 'discussion-icon');
      }
      &.og-events {
        @include image-icon-png-fallback('icons', 'event-icon');
      }
    }
  }
}
