.book-toc {
  a.active {
    font-weight: bold;
  }
  li {
    &:not(.expanded) {
      margin-left: 20px;
    }
  }
  li.expanded {
    .toggle {
      /* symbol for "open" submenu */
      @include arrow-image('down', 'blue', 'before');
      // Increase padding because the icon and the link have separate
      // functionality and this is less user-friendly if they are too close to
      // each other.
      padding-left: 20px;
    }
    /* It is pretty crucial for this css to be after the style for
    .toggle.expanded. Thus we don't need JS to remove the 'expanded' class. */
    .toggle.collapsed {
      /* symbol for "collapsed" or "expandable" submenu */
      @include arrow-image('right', 'blue', 'before');
      padding-left: 20px;
    }
    ul {
      padding-left: 20px;
    }
  }
}
