ul[rn-carousel] {
  width: 100%;
  height: 300px;
  margin: 0 auto;

  .bgimage {
    text-align: right;
    color: white;
    background-size: cover;
    height: 100%;
    background-position: center center;

    .intro-text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 98%;
      padding: 5px 10px;
      background: white;
      color: $color-gray;
      text-align: center;
      margin: 10px;

      .title,
      .text {
        display: block;
        padding-bottom: 10px;
      }
    }
  }

  .rn-carousel-control {

    &:before {
      font-size: 45px;
      color: $color-blue-light;
      font-weight: bold;
    }
  }
}

div.rn-carousel-indicator {
  text-align: center;

  span {
    font-size: 30px;

    &.active {
      color: $color-blue-light;
    }
  }
}
