.fl-icon {
  @extend %svg-icon;

  display: inline-block;
  margin-bottom: 10px;

  &.fl-public {
    background-image: image-url('group-icons/public-group.png');
  }
  &.fl-private {
    background-image: image-url('group-icons/private-group.png');
  }
  &.fl-restricted {
    background-image: image-url('group-icons/restricted-group.png');
  }
  &.fl-debate {
    @include image-icon-png-fallback('icons', 'discussion-qp-debate-hover');
  }
  &.fl-info {
    @include image-icon-png-fallback('icons', 'discussion-qp-info-hover');
  }
  &.fl-question {
    @include image-icon-png-fallback('icons', 'discussion-qp-question-hover');
  }
  &.fl-idea {
    @include image-icon-png-fallback('icons', 'discussion-qp-idea-hover');
  }
}

.block-facetapi {
  li {
    a {
      color: $gray-dark;
    }
    &.expanded a.facetapi-active {
      @include arrow-image('down', 'highlight-blue', 'before');
    }
    &.collapsed a.facetapi-inactive,
    &.expanded a.facetapi-inactive {
      @include arrow-image('right', 'highlight-blue', 'before');
    }
  }
}

.facetapi-deactivate {
  float: right;
}
