.form-actions {
  .form-submit {
    @include input-rounded($color-gray, 20px);

    color: $color-white;
    padding: 10px 50px;
    text-transform: uppercase;
  }
}

.hidden-input,
input[type=file].hidden-input {
  display: none;
}

label, .control-label {
  color: $color-gray;
  font-weight: normal;
}

input, .form-control {
  @include input-rounded($color-beige, 15px);
  @include box-shadow(none);
}

.form-textarea {
  @include input-rounded($color-beige, 0);
}

form {
  > div {
    > .form-item, > .form-group, > .form-wrapper {
      margin-bottom: 20px;
    }
  }

  .form-item-pluggable-group-access {
    label {
      //      background-repeat: no-repeat;
      //      background-position: 0 0;
      //      background-size: 1em;
      ////      font-weight: lighter;
      //      padding-left: 30px;
      ////      text-transform: uppercase;
      //
      //      &[for='edit-pluggable-group-access-public'] {
      //          background-image: image-url('group-icons/public.png');
      //      }
      //
      //      input {
      //        margin-left: -50px;
      //      }

    }
  }

  .form-autocomplete .input-group-addon {
    background: $color-beige;
    border: none;
  }

  .resizable-textarea .grippie {
    background-color: $color-beige;
    border: 0;
  }
}

input[type="radio"]:not(old) {
  background-color: $color-beige;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin-right: 15px;
  position: relative;
  width: 15px;
  -webkit-appearance: none;

  &:after {
    border-radius: 25px;
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
  }

  &:checked:after {
    background-color: $color-gray-dark;
  }
}

input[type="checkbox"]:not(old) {

  background: $color-beige;
  color: $highlight-blue;
  content: '';
  display: inline-block;
  font-family: FontAwesome;
  height: 1em;
  visibility: visible;
  width: 1em;

  &:hover {
    cursor: pointer;
  }

  &:checked {
    &:before {
      @include image-icon-png-fallback('icons', 'checkmark');
    }
  }
}

.checkboxes-wrapper {
  position: relative;

  button.btn-primary {
    padding: 7px;
    left: 0;
  }

  .hidden-checkboxes {
    display: block;
    left: 150px;
    top: -85px;
  }
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: none !important;
}

.form-control.select2-container {
  &:not(.select2-dropdown-open) {
    background: none;
  }

  &.select2-dropdown-open {
    @include box-shadow(none);
    border: none;
    border-radius: 15px 15px 0 0;

    &.select2-drop-above {
      border-radius: 0 0 15px 15px;
    }
  }
  .select2-choices {
    @include box-shadow(none);
    @include input-rounded($color-beige);
  }
  .select2-search-choice {
    @include box-shadow(none);

    background-image: none;
    background: $color-white;
    border: none;
    border-radius: 15px;
    height: 26px;
    line-height: 26px;
    margin: 3px 0 3px 3px;
    padding: 0 27px 0 8px;

    div {
      border-right: 1px solid $color-beige;
      padding-right: 5px;
    }
  }
  .select2-search-choice-close {
    left: auto;
    right: 8px;
    top: 6px;
  }
}

.select2-drop-active, .select2-drop, .select2-drop.select2-drop-above.select2-drop-active {
  @include box-shadow(none);
  border: 1px solid $color-beige;
  border-radius: 0 0 15px 15px;

  &.select2-drop-above {
    border-radius: 15px 15px 0 0;
  }

  .select2-results {
    li {
      background: none;
      color: $color-gray-dark;
    }
  }
}

.field-name-c4m-related-group, .field-name-c4m-related-projects {
  .select2-container {
    .select2-search-field {
      @include arrow-image('down', 'gray-dark', 'after');
      width: 98%;
    }
  }
}

.drop-box {
  @include input-rounded($highlight-blue, 80px);

  border: 0;
  color: $color-white;
  display: block;
  padding: 0;
  height: auto;
  margin: 10px 0 0 0;
  text-align: center;
  width: 100%;

  &.file-upload-drag {
    background-color: $color-red;
  }

  .drop-text {
    color: $color-white;
    padding: 20px 30px;

    a {
      color: $color-white;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    &:before {
      background: image-url('misc/hand.png') no-repeat 50% 50%;
      content: '';
      display: block;
      height: 33px;
      margin-bottom: 10px;
    }
  }

  .alert {
    border-radius: 80px;
    margin: 0;
    padding: 30px;
  }
}

.file-change-drag {
  background-color: $color-red;
}

// If JS is disabled, we can't propagate the radio button behavior.
.js {
  .field-name-c4m-discussion-type, .field-name-c4m-event-type {
    .form-type-radios {
      .form-item {
        border-right: 1px solid $gray;
        margin: 0;
        padding-bottom: 10px;
        padding-top: 10px;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
  .field-name-c4m-discussion-type {
    .discussion-type-button {
      @extend %svg-icon;

      &.discussion-type-info {
        @include link-icon-png-fallback('icons', 'discussion-qp-info');
      }
      &.discussion-type-debate {
        @include link-icon-png-fallback('icons', 'discussion-qp-debate');
      }
      &.discussion-type-idea {
        @include link-icon-png-fallback('icons', 'discussion-qp-idea');
      }
      &.discussion-type-question {
        @include link-icon-png-fallback('icons', 'discussion-qp-question');
      }

      input[type="radio"] {
        display: none;
      }
    }
  }
  .field-name-c4m-event-type {
    .event-type-button {
      @extend %svg-icon;
      padding-left: 35px;

      &.event-type-event {
        @include link-icon-png-fallback('icons', 'event-qp-event');
      }
      &.event-type-learning {
        @include link-icon-png-fallback('icons', 'event-qp-learning');
      }
      &.event-type-meeting {
        @include link-icon-png-fallback('icons', 'event-qp-meeting');
      }

      input[type="radio"] {
        display: none;
      }

      &.active, &:hover {
        color: $color-blue !important;
      }
    }
  }
}

.popover-content {
  > ul {
    margin-top: 10px;
  }
  .table-display ul {
    display: table-footer-group;
    li {
      margin-left: 15px;
    }
  }
  .parent-select {
    @include arrow-image('down', 'blue', 'before');
  }
  .ng-hide + .parent-select {
    @include arrow-image('right', 'blue', 'before');
  }

  label.ng-binding {
    text-transform: none;
  }
}

#c4m-location-add-more-wrapper {
  .panel-body {
    > div {
      margin: 0 0 15px 0;
      &.form-item-c4m-location-und-0-postal-code {
        float: left;
        margin-right: 5%;
        width: 20%;
      }
      &.getlocations_fields_city_wrapper {
        clear: right;
        float: left;
        width: 75%;
      }
      &.getlocations_fields_province_wrapper {
        clear: both;
      }
    }
  }

  input[value="Clear"] {
    float: right;
  }

}

.form-type-password-confirm {
  .label {
    display: inline-block !important;
  }

  .help-block {
    @extend .col-sm-4;

    ul {
      padding-left: 25px;
    }
  }

  .progress {
    height: 3px;
    margin-top: 15px;
  }
}

.form-control-feedback {
  right: 15px;
}

#c4m-datetime-end-add-more-wrapper {
  .container-inline-date {
    clear: none;
    float: left;
    width: 50%;

    .form-group {
      width: auto;
    }

    .end-date-wrapper {
      > .control-label {
        display: none;
      }
    }
  }
}

.panel-default {
  @include box-shadow(none);

  border: none;

  > .panel-heading {
    background: none;
    border: none;
    color: $color-blue;

    a {
      @include arrow-image('down');

      display: inline-block;

      &.collapsed {
        @include arrow-image('right');
      }
    }
  }
}

// Overrides
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: 0;
  position: static;
}

.sticky-header .checkbox {
  display: none;
}

.geo-values, .c4m_vocab_geo {
  .fa-chevron-right {
    position: absolute;
    right: 0;
    top: 14px;
  }
}

.file-wrapper {
  .document {
    border-bottom: 1px solid $color-gray;
    border-top: 0;
    margin: 15px 0;
    padding-bottom: 15px;

    .document-description {
      display: inline-block;
    }
  }
}

.pane-filter {

  .form-type-radio,
  .form-radios {
    display: inline-block;
  }
}

#edit-restricted-organisations {

  .form-item {
    margin-bottom: 20px;
  }
}

.control-label {
  display: inline-block;
}

#edit-variables-c4m-og-c4m-og-features-group {
  div.checkbox {
    margin: 1em 0;
  }
  span.description {
    font-size: smaller;
  }
}

// Checkbox toggle.
html.js {
  .toggle-enable {
    float: left;
    clear: left;
    margin-right: 1em;
    position: relative;
    width: 50px;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.50) inset;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.50) inset;
    box-shadow: 0 0 10px rgba(0,0,0,0.50) inset;
    background-clip: padding-box;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(50%, red), color-stop(50%, orange), color-stop(100%, orange));
    background-image: -moz-linear-gradient(left, red 50%, orange 50%, orange 100%);
    background-image: linear-gradient(left, red 50%, orange 50%, orange 100%);
  }
  .toggle-enable.enabled {
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(50%, orange), color-stop(50%, green), color-stop(100%, green));
    background-image: -moz-linear-gradient(left, orange 50%, green 50%, green 100%);
    background-image: linear-gradient(left, orange 50%, green 50%, green 100%);
  }
  .toggle-enable.disabled {
    background: #ccc;
    border-color: #ddd;
    cursor: auto;
  }
  .toggle-enable div {
    position: relative;
    color: #777;
    width: 26px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background: white;
    text-shadow: 1px 1px 0 white;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fefefe), color-stop(100%, #eaeaea));
    background-image: -moz-linear-gradient(top, #fefefe 0%, #eaeaea 100%);
    background-image: linear-gradient(top, #fefefe 0%, #eaeaea 100%);
    -webkit-transition: left 0.2s;
    -mox-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;
  }
  .toggle-enable.disabled div {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fefefe), color-stop(100%, #eeeeee));
    background-image: -moz-linear-gradient(top, #fefefe 0%, #eeeeee 100%);
    background-image: linear-gradient(top, #fefefe 0%, #eeeeee 100%);
  }
  .toggle-enable div:after,
  .toggle-enable div:before {
    color: white;
    text-shadow: none;
    width: 25px;
    position: absolute;
    top: 0;
    font-size: 9px;
    font-weight: bold;
  }
  .toggle-enable div:before {
    content: "OFF";
    left: -24px;
  }
  .toggle-enable div:after {
    content: "ON";
    right: -24px;
  }
  .toggle-enable.off div {
    left: 24px;
  }
}
