.view-mode-c4m_dashboard {
  .post-date {
    color: $color-gray-dark;
    margin-bottom: 10px;
  }

  .field-name-node-link {
    a {
      // icon
      @include read-more-icon('down');
    }
  }

  .c4m-access-info {
    border-bottom: 1px dashed $color-gray;
    border-top: 1px dotted $color-blue-light;
    margin-top: 10px;
    padding: 10px 0;
    h5 {
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 1em;
      font-weight: lighter;
      padding-left: 1.2em;
      text-transform: uppercase;
    }

    .group-public {
      h5 {
        background-image: image-url('group-icons/public.png');
        color: $public;
      }
    }
    .group-private {
      h5 {
        background-image: image-url('group-icons/private.png');
        color: $private;
      }
    }
    .group-restricted {
      h5 {
        background-image: image-url('group-icons/restricted.png');
        color: $restricted;
      }
    }

    a {
      display: inline-block;
      line-height: 1.1;
      margin: 10px 0;
      text-align: right;
    }
  }

  .group-details {
    @include box-shadow(none);

    background: none;
    border: 0;

    legend {
      @include box-shadow(none);

      background: none;
      border-radius: 0;
      color: $color-gray-dark;
      padding: 0;
      border: 0;
      display: inline-block;
      margin: 10px 0;
      text-transform: capitalize;
      width: auto;

      a {
        @include read-more-icon('down', 'gray-dark');

        &[aria-expanded=true] {
          @include read-more-icon('up', 'gray-dark');
        }
      }

      
    }
    
    .field-name-c4m-ds-group-role-members {
      clear: left;
    }

    .panel-body {
      padding: 0;

      > div {
        margin-bottom: 15px;
      }
    }
    .field-name-c4m-user-picture {
      float: left;
      margin: 0 15px 15px 0;
    }

    .field-name-c4m-vocab-topic, .field-type-taxonomy-term-reference {
      .field-item {
        display: inline;
        & + .field-item {
          &:not(:last-child) {
            &:before {
              content: ', ';

            }
          }
          &:last-child {
            &:before {
              content: ' & ';

            }
          }
        }
      }
    }
  }
}

.node {
  .group-right {
    .group-detail-element {
      margin-bottom: 25px;

      ul {
        list-style-type: none;
      }
    }
    .field-name-og-vocabulary ul {
      list-style-type: none;
      margin-bottom: 25px;
    }

    .group-node-details {
      clear: both;
    }
  }
}

.video-preview-wrapper {
  padding-left: 18px;
  margin-bottom: 43px;

  .video-preview {
    cursor: pointer;

    .video-details {
      background-color: $color-blue-light;
      padding: 10px 5px 10px 20px;
      color: $color-white;
      position: relative;

      .video-title {
        display: block;
        text-transform: uppercase;
        margin-bottom: 2px;
      }

      .video-description {
        display: block;
        margin-bottom: 12px;
      }

      &:after {
        font-family: fontAwesome;
        content: "\f0d7";
        font-size: 4em;
        position: absolute;
        right: 49%;
        bottom: -45px;
        margin: 0;
        padding: 0;
        color: $color-blue-light;
      }
    }
  }
}

.right {
  .upcoming-events {
    .group-right.col-sm-9 {
      border-left: solid 1px;
      margin-left: -25px !important;
      padding-left: 11px !important;
    }
  }

  .my-groups,
  .suggested-groups,
  .upcoming-events {

    h2.pane-title {
      color: $color-brown;
      border-bottom: 0 none;
      padding-top: 7px;
      margin-bottom: 6px;
      font-size: $font-size-h2;
    }

    .node.node-event {
      margin-bottom: 25px;

      .field-name-og-group-ref {
        .field-label {
          text-transform: lowercase;
          font-weight: normal;
        }
      }

      .group-left {
        text-align: center;
      }

      .group-left,
      .group-right {
        padding: 0;

        .node-icon.as-event-event {
          margin: 5px 0 -5px 20px;
        }

        .field-name-title {

          h3 {
            margin-bottom: 4px;

            a {
              color: $color-black;
              text-transform: none;
            }
          }
        }

        .owner,
        .group-members-count {
          font-size: 12px;
          font-weight: normal;
          display: inline-block;
          color: $color-gray;

          &.owner {
            margin-right: 5px;

            .label-inline {
              margin-right: 5px;
            }

            .user-name {

              &:after {
                content: ",";
              }
            }
          }
        }

        .group-ref {
          font-size: 12px;
          font-weight: normal;
          display: inline-block;
          color: $color-gray;

          .label-inline {
            margin-right: 5px;
          }
        }

        &.group-right {
          margin-left: -6px;
        }
      }
    }
  }

  .see-more-link {
    margin: 26px 0 0 5px;
    display: inline-block;
    font-size: 16px;
  }
}

.view-c4m-overview-groups {

  .group-header {

    h3 {
      display: inline-block;
    }
  }
}
