// No header above the group header.
body.front.og-context,
body.front.og-context.not-logged-in {
  #header-content-wrapper {
    display: none;
  }
}
body.og-context {

  .edit-banner {
    position: relative;
    display: block;

    .edit-link {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-black;
      display: inline-block;
      color: $color-white;
      opacity: 0.6;
      z-index: 100;
      font-size: $font-size-h2;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .group-management-dashboard {

    .group-management-wrapper {

      > div {

        .title {
          border-bottom: 1px solid $color-gray;
          margin: 0 0 10px 0;

          h2 {
            font-weight: lighter;
            padding: 0 5px 10px 5px;
            margin: 0;
            text-transform: uppercase;
            color: $color-gray;
            display: inline-block;
          }

          a {
            display: inline-block;
          }
        }

        .row {
          margin-bottom: 10px;
        }

        &.group-permissions {

          .access-title {
            background-repeat: no-repeat;
            background-position: 0 3px;
            background-size: 1em;
            font-weight: bold;
            padding-left: 1.2em;

            &.public {
              background-image: image-url('group-icons/public.png');
            }
            &.private {
              background-image: image-url('group-icons/private.png');
            }
            &.restricted {
              background-image: image-url('group-icons/restricted.png');
            }
          }

          .membership-request {

            strong {
              display: block;
            }
          }
        }
      }
    }
  }
}
