// No header above the group header.
body.front.og-context,
body.front.og-context.not-logged-in {
  #header-content-wrapper {
    display: none;
  }
}
body.og-context {

  .edit-banner,
  .edit-thumbnail {
    position: relative;
    display: block;

    .edit-link {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 5px 0;
      display: inline-block;
      color: $color-white;
      z-index: 100;
      font-size: $font-size-h2;
      text-transform: uppercase;
      text-align: center;
      font-weight: lighter;
      background-color: $color-blue-dark;
      opacity: 0.8;
    }

    &.edit-thumbnail {
      text-align: center;

      .img-responsive {
        display: inline-block;
      }

      .edit-link {
        font-size: $font-size-base;
      }
    }
  }

  .group-management-dashboard {

    .group-management-wrapper {

      > div {
        margin-bottom: 30px;

        .title {
          border-bottom: 1px solid $color-gray;
          margin: 0 0 10px 0;

          h2 {
            font-weight: lighter;
            padding: 0 5px 10px 5px;
            margin: 0;
            text-transform: uppercase;
            color: $color-gray;
            display: inline-block;
            border: 0 none;
          }

          a {
            display: inline-block;
          }
        }

        .row {
          margin-bottom: 10px;
        }

        &.group-permissions,
        &.group-related-content {

          .access-title {
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 1em;
            font-weight: bold;
            padding-left: 1.2em;
            color: $color-black;
            text-decoration: none;
            display: inline-block;

            &.public {
              background-image: image-url('group-icons/public.png');
              background-position: 0 2px;
            }
            &.private {
              background-image: image-url('group-icons/private.png');
            }
            &.restricted {
              background-image: image-url('group-icons/restricted.png');
            }
          }

          .membership-request {

            strong {
              display: block;
            }
          }
        }

        &.group-status {

          .group-status-text {
            font-weight: bold;
            text-transform: capitalize;
            font-size: $font-size-h3;
          }

          .archive-group {
            margin-top: 8px;
          }
        }
      }
    }
  }
}
