.view-mode-c4m_dashboard {
  .post-date {
    color: $gray-dark;
    margin-bottom: 10px;
  }

  .field-name-node-link {
    a {
      // icon
      @include read-more-icon('down');
    }
  }

  .field-name-c4m-ds-group-access-info {
    h4 {
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 1em;
      font-weight: lighter;
      padding-left: 1.2em;
      text-transform: uppercase;
    }

    &.group-public {
      h4 {
        background-image: image-url('group-icons/public.png');
        color: $public;
      }
    }
    &.group-private {
      h4 {
        background-image: image-url('group-icons/private.png');
        color: $private;
      }
    }
    &.group-restricted {
      h4 {
        background-image: image-url('group-icons/restricted.png');
        color: $restricted;
      }
    }
  }

  .group-details {
    @include box-shadow(none);

    background: none;
    border: 0;

    legend {
      @include box-shadow(none);

      background: none;
      border-radius: 0;
      color: $gray-dark;
      padding: 0;
      border: 0;
      display: inline-block;
      margin: 0;
      text-transform: capitalize;
      width: auto;

      a {
        @include read-more-icon('down', 'gray-dark');

        &[aria-expanded=true] {
          @include read-more-icon('up', 'gray-dark');
        }
      }
    }

    .panel-body {
      padding: 0;
    }
    .field-name-c4m-ds-node-author-image {
      float: left;
      margin: 0 15px 15px 0;
    }

    .field-name-c4m-related-topic, .field-type-taxonomy-term-reference {
      .field-item {
        display: inline;
        & + .field-item {
          &:not(:last-child) {
            &:before {
              content: ', ';

            }
          }
          &:last-child {
            &:before {
              content: ' & ';

            }
          }
        }
      }
    }
  }
}

.node {
  .group-right {
    .group-detail-element {
      margin-bottom: 25px;

      ul {
        list-style-type: none;
      }
    }
    .field-name-og-vocabulary ul {
      list-style-type: none;
      margin-bottom: 25px;
    }

    .group-node-details {
      clear: both;
    }
  }
}

.right {

  .my-groups,
  .suggested-groups {

    h2.pane-title {
      color: $color-brown;
      border-bottom: 0 none;
      padding-top: 7px;
      margin-bottom: 6px;
      font-size: $font-size-h2;
    }

    .node.node-teaser {
      margin-bottom: 25px;

      .group-left,
      .group-right {
        padding: 0;

        .round-bg {

          img {
            width: 50px;
            height: 50px;
            margin: 5px 0 -5px 20px;
          }
        }

        .field-name-title {

          h3 {
            margin-bottom: 4px;

            a {
              color: $color-black;
              text-transform: none;
            }
          }
        }

        .owner,
        .group-members-count {
          font-size: 12px;
          font-weight: normal;
          display: inline-block;
          color: $color-gray;

          &.owner {
            margin-right: 5px;

            .label-inline {
              margin-right: 5px;
            }

            .user-name {

              &:after {
                content: ",";
              }
            }
          }
        }

        &.group-right {
          margin-left: -6px;
        }
      }
    }
  }

  .see-more-link {
    margin: 26px 0 0 5px;
    display: inline-block;
    font-size: 16px;
  }
}
