// Header depends on the user logged in state.
body.front {
  #header-content-wrapper {
    background: transparent url('../images/header/background-green-white.png') repeat-x top left;
  }
  .header-content {
    background: transparent url('../images/header/homepage-user.png') no-repeat top center;
    height: 115px;
  }
}
body.front.not-logged-in {
  #header-content-wrapper {
    background: transparent url('../images/header/background-green.png') repeat-x top left;
  }
  .header-content {
    background: transparent url('../images/header/homepage-anonymous.png') no-repeat top center;
    height: 298px;
  }
}


// Video (intro) block on the home page.
#block-c4m-features-homepage-intro-video {
  .button-wrapper {
    text-align: center;
  }
  .btn {
    background-color: transparent;
    border: none;
    color: transparent;
    height: 298px;
    outline: 0;
    width: 400px;
  }
}


// Join.Share.Learn block.
.view-intro-block {
  background-color: $color-beige-light;
  color: $color-blue-dark;
  text-align: center;
  padding: 15px 130px 15px;

  input[type="button"] {
    border-radius: 23px;
    border: none;
    background-color: $color-blue-mid;

    -webkit-box-shadow: -1px 3px 2px rgba(51, 106, 120, 1);
    -moz-box-shadow:    -1px 3px 2px rgba(51, 106, 120, 1);
    box-shadow:         -1px 3px 2px rgba(51, 106, 120, 1);
  }
}


// Featured block on the bottom of the page.
.pane-featured-block {

  .col-sm-4 {
    padding-left: 4px;
    padding-right: 4px;

    .caption {
      color: white;
      position: absolute;
      bottom: 0px;
      left: 4px;
      right: 4px;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 8px;
    }
  }

  .col-sm-4:first-of-type {
    padding-left: 0px;

    .caption {
      left: 0px;
    }
  }

  .col-sm-4:last-of-type {
    padding-right: 0px;

    .caption {
      right: 0px;
    }
  }

  .field-item {
    overflow: hidden;

    img {
      height: 300px;
      width: auto;
      max-width: none;
      position: relative;
    }
  }

  .field-name-c4m-body {
    color: white;
    font-size: 14px;
    font-weight: normal;
  }
  margin-bottom: 50px;
}

.see-more-link {
  margin-top: 7px;
  display: block;
}
