// Header depends on the user logged in state.
body.front {
  #header-content-wrapper {
    background: transparent url('../images/header/background-green-white.png') repeat-x top left;
  }
  .header-content {
    background: transparent url('../images/header/homepage-user.png') no-repeat top center;
    height: 115px;
  }
  .modal {

    .modal-backdrop {
      z-index: 0;
    }
  }
}
body.front.not-logged-in {
  #header-content-wrapper {
    background: transparent url('../images/header/background-green.png') repeat-x top left;
  }
  .header-content {
    background: transparent url('../images/header/homepage-anonymous.png') no-repeat top center;
    max-height: 298px;
    height: auto;
    background-size: contain;
  }
}


// Video (intro) block on the home page.
#block-c4m-features-homepage-intro-video {
  .button-wrapper {
    text-align: center;
  }
  .btn {
    background-color: transparent;
    border: none;
    color: transparent;
    max-height: 298px;
    height: 298px;
    outline: 0;
    width: 400px;
  }
}


// Join.Share.Learn block.
.view-intro-block {
  background-color: $color-beige-light;
  color: $color-blue-dark;
  text-align: center;
  padding: 15px 130px 15px;

  input[type="button"] {
    border-radius: 23px;
    border: none;
    background-color: $color-blue-mid;

    -webkit-box-shadow: -1px 3px 2px rgba(51, 106, 120, 1);
    -moz-box-shadow:    -1px 3px 2px rgba(51, 106, 120, 1);
    box-shadow:         -1px 3px 2px rgba(51, 106, 120, 1);
  }
}


// Featured block on the bottom of the page.
.pane-featured-block {

  a {
    display: block;
    max-width: 300px;
    position: relative;
  }

  .row {
    max-width: 960px;
    margin: 0 auto;

    @media (min-width: $screen-sm) {
      .col-sm-4 {
        padding: 0 10px;
      }
    }

    @media (max-width: $screen-sm) {
      .col-sm-4 {
        padding: 0 10px 20px 10px;
      }
    }
  }

  .caption {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 8px;
  }

  .field-item {
    overflow: hidden;

    img {
      height: auto;
      width: 100%;
      max-width: none;
      position: relative;
    }
  }

  .field-name-c4m-body {
    color: white;
    font-size: 14px;
    font-weight: normal;
  }

  margin-bottom: 50px;
  margin-top: 50px;
}

.see-more-link {
  margin-top: 7px;
  display: block;
}
