.icon-missing {
  background: {
    repeat: no-repeat;
    position: 0 50%;
    size: 75px;
  }

  @include image-icon-png-fallback('icons', 'icon-missing');

  display: inline-block;
  height: 75px;
  width: 75px;
}

.group-icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 20px 5px 10px 0;
  padding: 0;
  float: left;

  &.group-public {
    background-image: image-url('group-icons/public-group.png');
  }
  &.group-private {
    background-image: image-url('group-icons/private-group.png');
  }
  &.group-restricted {
    background-image: image-url('group-icons/restricted-group.png');
  }
}

.organisation-icon {
  display: inline-block;
  margin: 0 10px;
}
