.nav > li > a {
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
}

// Make sure menu links set active (active-trail) by context react as menu
// links set active (active) by menu API.
.nav-pills {
  li.active-trail {
    a, a:hover, a:focus {
      color: #fff;
      background-color: #428bca;
    }
  }
}

.navbar-toggle {
  .icon-bar {
    background-color: $highlight-blue;
  }
}

// Everything > 480px
@media screen and (min-width: $screen-md-min) {
  .block-menu {
    .navbar-collapse {
      .og-menu-link {
        &.no-children > a {
          padding-left: 0;
        }
        &.wiki.dropdown {
          a.dropdown-toggle {
            background-position: 80% 50%;
            padding-left: 15px;
            &:hover, &.active-trail {
              background-position: 80% 50%;
            }
          }
          div.dropdown-menu {
            margin: -2px 0 0 34px;
            span.arrow {
              top: -10px;
            }
          }
        }
      }
    }
  }
}

#navbar {
  .not-logged-in & {
    margin-top: 15px;

  }
  border-bottom: 2px solid $color-blue-light;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

// Main menu(s)
.navbar-nav {
  display: block;

  a {
    text-transform: uppercase;
    color: $color-blue-dark;
    &:hover, &.active {
      background: none;
      color: $color-blue-light;
    }
  }

  .dropdown-menu {
    li {
      position: static;
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    &:not(.og-menu) {
      clear: left;
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      left: 50%;
      text-align: center;
      > li {
        display: block;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        right: 50%;
      }
    }

    > li {
      &:not(.last):after {
        content: '|';
        font-weight: bold;
        margin: 0 10px;
        @media screen and (min-width: $screen-md-min) {
          margin: 0 15px;
        }
        @media screen and (min-width: $screen-lg-min) {
          margin: 0 25px;
        }
      }
      > a {
        display: inline-block;
        padding: 0;
        font-size: 85%;

        @media screen and (min-width: $screen-md-min) {
          font-size: 95%;
        }
        @media screen and (min-width: $screen-lg-min) {
          font-size: 100%;
        }
      }
    }
  }
}

// Overrides for the group menu.
.navbar-nav {
  > li.og-menu-link {
    a {
      @extend %svg-icon;

      color: $color-gray;

      @media screen and (max-width: $screen-sm-max) {
        background-size: 25px;
        padding-left: 25px;
      }
    }

    &.front {
      a {
        @include link-icon-png-fallback('icons', 'group-home-icon');
      }
      width: auto;
    }
    &.calendar {
      a {
        @include link-icon-png-fallback('icons', 'event-icon');
      }
      width: auto;
    }
    &.discussions {
      a {
        @include link-icon-png-fallback('icons', 'discussion-icon');
      }
    }
    &.documents {
      a {
        @include link-icon-png-fallback('icons', 'library-icon');
      }
    }
    &.events {
      a {
        @include link-icon-png-fallback('icons', 'event-icon');
      }
    }
    &.tasklists {
      a {
        @include link-icon-png-fallback('icons', 'tasks-icon');
      }
    }
    &.wiki > a {
      background-color: white;
      &:hover, &.active, &.active-trail {
        color: $color-gray-dark;
        background-color: transparent;
      }
    }
    &.wiki.dropdown {
      a.dropdown-toggle {
        @include arrow-image('down', 'gray-darker', 'after');
        padding-right: 35px;
        background-position: 75px 50%;
        background-size: 1.2em 1.2em;

        @media screen and (max-width: $screen-sm-max) {
          background-size: 15px;
          padding-right: 15px;
          background-position: right center;
        }
      }
      div.dropdown-menu {
        padding-left: 15px;
        padding-right: 15px;
        background-color: $color-gray-light;
        border-radius: 5px;
        max-width: 370px;
        margin: -2px 0 0 59px;
        span.arrow {
          width: 0;
          height: 0;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $color-gray-light;
          border-left: 10px solid transparent;
          position: absolute;
          top: 30px;
        }
        ul {
          padding-left: 0;
          li {
            border-bottom: 1px solid $gray-light;
            width: 305px;
            margin-top: 15px;
            padding: 20px 0;
            display: inline-block;

            a.c4m-book-og-menu-link {
              text-transform: none;
              white-space: initial;
              display: block;
              margin: -22px 0 0 10px;
              text-decoration: none;
              i.c4m-chevron-right {
                display: block;
                float: left;
                margin: 6px 0 0 -38px;
                height: 14px;
                width: 14px;
                @include arrow-image('right', 'gray-darker', 'after');
              }
              &.active {
                background-color: $color-gray-light;
                color: $highlight-blue;
                i.c4m-chevron-right {
                  @include arrow-image('right', 'highlight-blue', 'after');
                }
              }
              &:hover {
                background-color: $color-gray-light;
                color: $color-gray-dark;
                i.c4m-chevron-right {
                  color: inherit;
                  @include arrow-image('right', 'gray-dark', 'after');
                }
              }
            }
            &.last {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
