.pager-previous, .pager-next {
  text-transform: uppercase;
  font-size: 1.5em;

  a {
    color: $gray-dark;
    display: block;
    width: 100%;
  }
}

.pager-previous {
  text-align: left;

  a {
    @include arrow-image('left', 'gray-dark');

    // override default padding
    background-position-x: right;
    padding: 0 30px 0 0;
  }
}

.pager-content {
  text-align: center;

  .pager {
    margin: 0 auto;
    width: 100%;

    .pager-item {
      a {
        @extend %circle-button-30;
        background: $gray-dark;
        color: $color-white;
      }
    }
    .pager-current {
      @extend %circle-button-30;
      background: $gray-light;
    }
  }
}

.pager-next {
  text-align: right;

  a {
    @include arrow-image('right', 'gray-dark');

    // override default padding
    background-position-x: left;
    padding: 0 0 0 30px;
  }
}

%circle-button-30 {
  @include border-radius(12px);

  border: 0;
  color: $color-white;
  display: inline-block;
  font-size: 12px;
  height: 24px;
  line-height: 1.428571429;
  padding: 4px 0;
  text-align: center;
  width: 24px;

  &:hover {
    background: $gray-light;
  }
}