.panel-col-last {
  .panel-pane {
    border-left: 1px solid $gray-dark;
    margin-left: 15px;
    padding: 0 15px 5px 15px;

    h2 {
      border-bottom: 1px dashed $gray-dark;
      font-weight: lighter;
      margin: 0 0 5px 0;
      padding: 0 5px 5px 5px;
      text-transform: uppercase;
    }

    .pane-content {
      padding: 5px;
    }
  }
}

.pane-c4m-overview-og-highlights {
  h2 {
    color: $green;
  }
}