.right {
  .panel-pane {
    @media screen and (min-width: $screen-sm-min) {
      border-left: 1px solid $color-gray-dark;
      margin-left: 15px;
      padding: 0 0 5px 15px;
    }
    margin-bottom: 50px;

    h2 {
      border-bottom: 2px dashed $color-gray-dark;
      font-weight: lighter;
      margin: 0 0 10px 0;
      padding: 0 5px 10px 5px;
      text-transform: uppercase;
    }

    h4 {
      border-bottom: 1px dashed $color-gray-dark;
      margin-bottom: 0.8em;
      padding-bottom: 0.8em;
    }

    .pane-content {
      padding: 5px;
    }
  }
}

h2 {
  .pane-c4m-overview-og-highlights & {
    color: $public;
  }
  .pane-c4m-content-group & {
    color: $color-blue;
  }
  .pane-c4m-overview-og-members & {
    color: $color-brown;
  }
}

