
/**
 * Overview of the people.
 */
.view-c4m-overview-people {
  .row {
    margin-left: 0;
  }

  .table-responsive {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
  }

  &.view-display-id-block_1 {
    .views-row {
      border: 0;
      float: left;
      width: 20%;
    }
  }

  .icon-wrapper .content-col {
    margin-left: 60px;
  }

  .views-field-c4m-media,
  .round-bg {
    img, .initials {
      @include border-radius(50%);
      height: 60px;
      margin: 0 auto;
      width: 60px;
    }
  }

  .more-link {
    clear: both;
    a {
      color: $highlight-blue;
    }
  }

  .views-row {
    position: relative;

    .field-name-c4m-user-first-and-last-name {
      float: left;
    }
    .field-name-c4m-organisation {
      width: 100%;
    }
    .country {
      padding-left: 3px;
    }

    .expertises {
      .expertise {
        &:after {
          content: ", ";
          color: black;
        }
        &:last-child:after {
          content: "";
        }
      }
    }

    .member-since {
      padding-left: 3px;
    }
  }

  .field-name-c4m-features-people-admin-actions {
    float: right;

    .dropdown-menu {
      color: $color-blue;
      left: auto;
      right: 0;
      .bold-text {
        font-weight: bold;
      }
    }
    .dropdown {
      color: $color-gray;

      li {
        a {
          color: $color-blue;

          &:hover {
            background: #EEE;
          }
        }
      }

      .btn {
        @include box-shadow(none);
        background: none;
        border: 0;
        color: $color-gray;
        margin: 0;
        padding: 0;
        .fa {
          color: $color-blue;
        }
      }
    }
  }

  .user-name {
    font-size: 22.5px;
  }

  &.view-display-id-page_1 {
    fieldset.form-inline {
      .panel-heading {
        display: none;
      }
      .panel-body {
        padding: 0;
      }
    }
    .view-mode-c4m_user_teaser_table_header {
      display: none;

      @media screen and (min-width: $screen-sm-min) {
        display: block;
      }
    }

    .table-responsive {
      table {
        @media screen and (max-width: $screen-sm-min) {
          .row {
            margin: 0;
          }
        }
        @media screen and (min-width: $screen-sm-min) {
          .views-field-rendered-entity {
            .row > div {
              display: inline-block;
              vertical-align: top;
            }
            .content-first {
              width: 35%;

              .user-name {
                font-size: 18px;
                line-height: 1.1;
              }
            }
            .content-second {
              width: 30%;
            }
            .content-third {
              width: 20%;
            }
            .content-fourth {
              width: 10%;
            }
          }
        }
      }
    }
  }
}
