.pane-quick-form {
  .form-control {
    @include border-radius(15px);

    background: $beige;
    border: none;
  }

  button {
    &.bundle-select, &.btn-default {
      @extend .reset-button;

      margin-right: 15px;

      &[value=discussions] {
        @extend %svg-icon;

        @include image-icon-png-fallback('icons', 'discussion-qp-icon');
      }

      &[value=documents] {
        @extend %svg-icon;

        @include image-icon-png-fallback('icons', 'document-qp-icon');
      }

      &[value=events] {
        @extend %svg-icon;

        @include image-icon-png-fallback('icons', 'event-qp-icon');
      }

      &.active, &:hover {
        @include border-radius(0);
        @include box-shadow(none);

        color: $highlight-blue !important;
      }
    }
  }

  .btn-group-selectors, .tags {
    border-bottom: 1px solid $gray-light;
    margin: 15px 0;
    padding: 0 15px 15px 15px;

    .label-wrapper {
      border: 0;
      color: $gray-dark;

      label {
        display: block;
        font-size: 115%;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}

#quick-post-fields {
  border: 1px solid $gray-lighter;

  #cke_body {
    @include box-shadow(none);

    border: 0;
    border-top: 1px solid $gray-lighter;

    .cke_inner .cke_wysiwyg_div {
      background: $beige;
    }
  }

  #cke_1_contents {
    height: 200px !important;
  }

  .btn-group {
    margin-bottom: 0;
  }

  .btn-group-discussion_type, .btn-group-event_type {
    .btn-default {
      border-right: 1px solid $gray-lighter;
      margin: 0;

      &:last-child {
        border-right: 0;
      }

      &[value=debate] {
        @extend %svg-icon;

        //        @include image-icon-png-fallback('icons', 'debate-qp-icon');
      }

      &[value=idea] {
        @extend %svg-icon;
        //
        //        @include image-icon-png-fallback('icons', 'idea-qp-icon');
      }

      &[value=info] {
        @extend %svg-icon;
        //
        //        @include image-icon-png-fallback('icons', 'info-qp-icon');
      }

      &[value=question] {
        @extend %svg-icon;
        //
        //        @include image-icon-png-fallback('icons', 'question-qp-icon');
      }

      &[value=event] {
        @extend %svg-icon;
        //
        //        @include image-icon-png-fallback('icons', 'question-qp-icon');
      }

      &[value=learning] {
        @extend %svg-icon;
        //
        //        @include image-icon-png-fallback('icons', 'question-qp-icon');
      }

      &[value=meeting] {
        @extend %svg-icon;
        //
        //        @include image-icon-png-fallback('icons', 'question-qp-icon');
      }
    }
  }

}

.reset-button {
  @include border-radius(0);

  background: none;
  border: none;

  &:active {
    @include border-radius(0);
    @include box-shadow(none);
  }

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}