.field-name-c4m-ds-content-actions {
  .social-actions-share {
    @include clearfix;
    padding: 5px 2px;
    margin-top: 15px;

    .ec-widget-share-item {
      float: left;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      #share_button_container {
        width: auto;
        height: auto;

        a#share_button_link {
          background-repeat: no-repeat;
          width: 22px;
          height: 22px;
          padding: 0;
          margin: 0;
          &:hover {
            background-position: initial;
          }
        }
      }

      &#ec-widget-share-facebook {
        a {
          @include image-icon-png-fallback('icons', 'facebook_icon_black');
          background-position: initial;
          background-size: 22px;
        }
      }
      &#ec-widget-share-twitter {
        a {
          @include image-icon-png-fallback('icons', 'twitter_icon_black');
          background-position: initial;
          background-size: 22px;
        }
      }
      &#ec-widget-share-googleplus {
        a {
          @include image-icon-png-fallback('icons', 'googleplus_icon_black');
          background-position: initial;
          background-size: 22px;
        }
      }
      &#ec-widget-share-linkedin {
        a {
          @include image-icon-png-fallback('icons', 'linkedin_icon_black');
          background-position: initial;
          background-size: 22px;
        }
      }
    }
  }
}