.page-manage-categories {

  .page-header {
    display: none;
  }

  .question {
    font-size: 20px;
  }

  .category-edit-title {
    border-bottom: 1px solid $color-black;
    margin-bottom: 20px;

    .category-edit-title-text {
      font-size: $font-size-h3;
      text-transform: uppercase;
      display: inline-block;
      font-weight: lighter;
    }

    a {
      font-size: $font-size-h4;
      display: inline-block;
      margin-left: 5px;
    }
  }

  .category-edit-description {

    strong {
      display: block;
    }
  }

  .category-title-wrapper {

    h3.category-title {
      display: inline-block;
    }

    a {
      display: inline-block;
      margin: 0 3px;
    }
  }

  table.table {

    thead {

      tr {
        background-color: $color-light-gray;

        th {

          &.category-name-column {
            width: 70%;
            padding-left: 28px;
          }

          a {
            display: inline-block;
            margin-left: 18px;
            font-weight: normal;
          }
        }
      }
    }
  }

  #add-term {

    .form-item {
      display: inline-block;
      width: 60%;

      label {
        display: none;
      }

      .label-error {
        color: $color-red;
        display: inline;
      }

      .form-control {
        @include border-radius(1px);
      }
    }

    .form-submit {
      margin-left: 10px;
      vertical-align: top;
    }
  }
}

.tabledrag-toggle-weight-wrapper {
  display: none;
}

a.tabledrag-handle {

  .handle {
    width: 20px;
    height: 22px;
  }
}

#c4m-taxonomy-overview-terms {

  .glyphicon-warning-sign:before {
    content: "\002A";
  }

  .actions {

    a {
      display: none;

      &#edit-new-category {
        display: inline;
      }
    }
  }
}
