.bg-dark-navy {
  background: $ava-dark-navy;
}

.bg-pastel-pink {
  background: $ava-pastel-pink;
}

.bg-beige {
  background: $ava-beige;
}

.bg-brown {
  background: $ava-brown;
}

.bg-brown-light {
  background: $ava-brown-light;
}

.bg-blue {
  background: $ava-blue;
}

.bg-salmon {
  background: $ava-salmon;
}

.bg-pastel-orange {
  background: $ava-pastel-orange;
}

.bg-green {
  background: $ava-green;
}

.bg-green-light {
  background: $ava-green-light;
}

.bg-pink-dark {
  background: $ava-pink-dark;
}

.user-image, .initials {
  @include border-radius(50%);
  height: 60px;
  margin: 0 auto;
  width: 60px;
}

.no-avatar.initials {
  color: $color-white;
  display: block;
  font-size: 25px;
  font-weight: lighter;
  line-height: 60px;
  text-align: center;
  a {
    color: $color-white;
  }
}