.view {
  .views-row {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 15px;
    padding-bottom: 15px;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-header {
  color: $gray-dark;
  margin: 10px 0 25px 0;

  .node-create {
    @include input-rounded($highlight-blue, 25px);

    color: $color-white;
    font-size: 18px;
    padding: 9px 35px;
    text-transform: uppercase;

    @media screen and (min-width: $screen-md-min) {
      float: right;
      margin-top: -51px;
    }

    &.node-create-discussion {
      @extend %svg-icon;
      @include image-icon-png-fallback('icons', 'create-discussion');

      //      background-size: $font-size-h1 / 2;
      background-position-x: 20px;
      padding-left: 55px;
    }
  }

  .search-api-sort {
    clear: right;
    float: right;
    list-style-type: none;

    &.open {
      button {
        @include box-shadow(none);

        background: inherit;
        border: 0;
        border-radius: 0;
        color: $highlight-blue;
      }
    }

    button {
      border: 0;
      border-radius: 0;
      color: $highlight-blue;

      &:hover, &:focus, &:active, &.active {
        @include box-shadow(none);

        background: none;
        border-radius: 0;
      }
    }
  }

  .search-api-sorts {
    clear: right;
    float: right;
    list-style-type: none;

    li {
      padding: 5px;

      &:first-child {
        padding-top: 10px;
      }
      &:last-child {
        padding-bottom: 10px;
      }

      a {
        color: $highlight-blue;
        display: block;
        padding-left: 10px;

        &:hover, &:focus, &:active {
          background-color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
}

.view-content {
  clear: both;
}

#edit-search-api-views-fulltext-wrapper {
  label {
    color: $gray-dark;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
  }
}

.views-widget {
  input {
    @include input-rounded($color-beige);
  }
}

li {
  h3 {
    color: $gray-dark;
    font-size: 1em;
    text-transform: uppercase;
  }
}

.views-exposed-form .views-exposed-widget {
  padding-top: 0;
}