.view {
  .views-row {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 15px;
    padding-bottom: 15px;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-header {
  color: $gray-dark;
  margin: 10px 0 25px 0;

  .node-create {
    @include input-rounded($highlight-blue, 25px);

    color: $color-white;
    font-size: 18px;
    padding: 9px 35px;
    text-transform: uppercase;

    @media screen and (min-width: $screen-md-min) {
      float: right;
      margin-top: -51px;
    }

    &.node-create-discussion {
      @extend %svg-icon;
      @include image-icon-png-fallback('icons', 'create-discussion');

      //      background-size: $font-size-h1 / 2;
      background-position-x: 20px;
      padding-left: 55px;
    }
  }

  .search-api-sort {
    clear: right;
    float: right;
    list-style-type: none;

    &.open {
      button {
        @include box-shadow(none);

        background: inherit;
        border: 0;
        border-radius: 0;
        color: $highlight-blue;
      }
    }

    button {
      border: 0;
      border-radius: 0;
      color: $highlight-blue;

      &:hover, &:focus, &:active, &.active {
        @include box-shadow(none);

        background: none;
        border-radius: 0;
      }
    }
  }

  .search-api-sorts {
    clear: right;
    float: right;
    list-style-type: none;

    li {
      padding: 5px;

      &:first-child {
        padding-top: 10px;
      }
      &:last-child {
        padding-bottom: 10px;
      }

      a {
        color: $highlight-blue;
        display: block;
        padding-left: 10px;

        &:hover, &:focus, &:active {
          background-color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
}

.view-content {
  clear: both;
}

#edit-search-api-views-fulltext-wrapper {
  label {
    color: $gray-dark;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
  }
}

.views-widget {
  input {
    @include input-rounded($color-beige);
  }
}

li {
  h3 {
    color: $gray-dark;
    font-size: 1em;
    text-transform: uppercase;
  }
}

.views-exposed-form .views-exposed-widget {
  padding-top: 0;
}

.view-c4m-overview-og-members,
.my-groups,
.suggested-groups {
  .table-responsive {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
  }

  &.view-display-id-block_1 {
    .views-row {
      border: 0;
      float: left;
      width: 20%;
    }
  }

  .icon-wrapper .content-col {
    margin-left: 60px;
  }

  .views-field-c4m-media,
  .round-bg {
    img, .initials {
      @include border-radius(50%);
      height: 60px;
      margin: 0 auto;
      width: 60px;
    }
  }

  .more-link {
    clear: both;
    a {
      color: $highlight-blue;
    }
  }

  .view-header {
    position: absolute;
    top: 0;
    right: 0;
  }

  .views-row {
    position: relative;

    .field-name-c4m-user-first-and-last-name {
      float: left;
    }
    .field-name-c4m-organisation {
      display: inline-block;
      width: 100%;
    }

  }

  .field-name-c4m-features-og-members-admin-actions {
    float: right;

    .dropdown-menu {
      color: $color-blue;
      left: auto;
      right: 0;
      .bold-text {
        font-weight: bold;
      }
    }
    .dropdown {
      color: $color-gray;

      li {
        a {
          color: $color-blue;

          &:hover {
            background: #EEE;
          }
        }
      }

      .btn {
        @include box-shadow(none);
        background: none;
        border: 0;
        color: $color-gray;
        margin: 0;
        padding: 0;
        .fa {
          color: $color-blue;
        }
      }
    }
  }

  .user-name {
    font-size: 22.5px;
  }

  &.view-display-id-page {
    .view-content {
      margin-top: 60px;
    }
  }

  &.view-display-id-page_1 {
    #views-form-c4m-overview-og-members-page-1{
      fieldset.form-inline {
        .panel-heading {
          display: none;
        }
        .panel-body {
          padding: 0;
        }
      }
      .view-mode-c4m_user_teaser_table_header {
        display: none;

        @media screen and (min-width: $screen-sm-min) {
          display: block;
        }
      }

      .table-responsive {
        table {
          @media screen and (max-width: $screen-sm-min) {
            .row {
              margin: 0;
            }
          }
          @media screen and (min-width: $screen-sm-min) {
            .views-field-rendered-entity {
              .row > div {
                display: inline-block;
                vertical-align: top;
              }
              .content-first {
                width: 35%;

                .user-name {
                  font-size: 18px;
                }
              }
              .content-second {
                width: 30%;
              }
              .content-third {
                width: 20%;
              }
              .content-fourth {
                width: 10%;
              }
            }
          }
        }
      }
    }
  }
}
