.view {
  .views-row {
    border-bottom: 1px solid $color-gray-light;
    margin-bottom: 15px;
    padding-bottom: 15px;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-header {
  color: $color-gray-dark;
  margin: 10px 0 25px 0;
  @include clearfix;
  overflow: visible;

  .node-create {
    @include input-rounded($highlight-blue, 25px);

    color: $color-white;
    font-size: 18px;
    padding: 9px 35px;
    text-transform: uppercase;

    @media screen and (min-width: $screen-md-min) {
      float: right;
    }

    &.node-create-discussion {
      @extend %svg-icon;
      @include image-icon-png-fallback('icons', 'create-discussion');

      //      background-size: $font-size-h1 / 2;
      background-position-x: 20px;
      padding-left: 55px;
    }
  }

  .search-api-sort {
    clear: right;
    float: right;
    list-style-type: none;

    &.open {
      button {
        @include box-shadow(none);

        background: inherit;
        border: 0;
        border-radius: 0;
        color: $highlight-blue;
      }
    }

    button {
      border: 0;
      border-radius: 0;
      color: $highlight-blue;

      &:hover, &:focus, &:active, &.active {
        @include box-shadow(none);

        background: none;
        border-radius: 0;
      }
    }
  }

  .search-api-sorts {
    clear: right;
    float: right;
    list-style-type: none;

    li {
      padding: 5px;

      &:first-child {
        padding-top: 10px;
      }
      &:last-child {
        padding-bottom: 10px;
      }

      a {
        color: $highlight-blue;
        display: block;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-top: 3px;

        &:hover, &:focus, &:active {
          background-color: inherit;
          text-decoration: underline;
        }
      }
    }
  }

  a.custom-link {
    display: inline-block;
    padding-left: .5em;
  }
  a.custom-link.active {
    color: $color-black;
  }
  a.custom-link.has-icon {
    span.icon-label {
      display: none;
    }
  }
}

.view-content {
  clear: both;
}

#edit-text-wrapper {
  label {
    color: $color-gray-dark;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
  }
}

.views-widget {
  input {
    @include input-rounded($color-beige);
  }
}

li {
  h3 {
    color: $color-gray-dark;
    font-size: 1em;
    text-transform: uppercase;
  }
}

.views-exposed-form .views-exposed-widget {
  padding-top: 0;
}


.my-groups,
.suggested-groups,
.upcoming-events {
  &.view-display-id-block_1 {
    .views-row {
      border: 0;
      float: left;
      width: 20%;
    }
  }

  .views-field-c4m-media,
  .round-bg {
    img, .initials {
      @include border-radius(50%);
      height: 60px;
      margin: 0 auto;
      width: 60px;
    }
  }

  .more-link {
    clear: both;
    a {
      color: $highlight-blue;
    }
  }
}

.view-mode-c4m_user_picture {
  display: inline-block;
}

.view .views-row-last {
  margin-bottom: 0;
}

.more-link {
  clear: both;
  float: right;
}

.view-mode-c4m_related {
  .content-col {
    float: left;
    margin: 0;
  }
  .field-name-title, .field-name-title h3 {
    margin: 0;
    a {
      color: $color-black;
      text-transform: none;
    }
  }

  .field {
    margin: 0;
  }

  .group-ref {
    color: $color-gray;
    font-size: 90%;
  }

  .round-bg img {
    margin: 10px;
  }
}

.view-c4m-related-nodes {
  &.view-display-id-block_2 {
    .views-row {
      margin: 0 0 5px;
      padding: 0 0 5px;
    }
  }
}



.view-display-id-og_dashboard_promoted_block {
  background-color: $color-gray-extra-light;
  margin-bottom: 60px;
  padding: 10px 5px;

  .view-header {
    border-bottom: 1px solid #DADDC9;
    padding: 0 10px 0 30px;
    line-height: 30px;
    margin: 0;
    @include image-icon-png-fallback('icons', 'pin');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 24px;
    p {
      margin: 0;
    }
  }
  .view-content {
    .views-row {
      padding: 0px;
      margin: 0px;
      .node {
        border-top: 1px solid #E9EBDE;
      }
    }
  }
}