<form action="#" class="search">
  <input ng-model="searchTerm" class="form-control" type="text" placeholder="Search"/>
</form>
<div class="checkbox" ng-repeat="(id, item) in items | geoFilter: items:searchTerm">
  <label>
    <input type="checkbox" ng-name="type" ng-model="model[id]"> {{item.label}}
  </label>
  <ul ng-show="item.children" class="indent">
    <li ng-repeat="child in item.children">
      <label>
        <input type="checkbox" ng-name="type" ng-model="model[child.id]"> {{child.label}}
      </label>
    </li>
  </ul>
</div>

