<form action="#" class="search">
  <input ng-model="searchTerm" ng-change="updateSearch()" class="form-control" type="text" placeholder="Search"/>
</form>
<div class="checkbox" ng-repeat="item in filteredTerms">
  <label>
    <input type="checkbox" ng-name="type" title="{{item.label}}" ng-model="model[item.id]" ng-change="updateSelectedTerms()"> {{item.label}}
  </label>
  <ul ng-show="item.children" class="indent">
    <li ng-repeat="child in item.children">
      <label>
        <input type="checkbox" ng-name="type" ng-model="model[child.id]"> {{child.label}}
      </label>
    </li>
  </ul>
</div>

