.svg-icon, %svg-icon {
  line-height: 25px;
  padding-left: 30px;
  background: {
    repeat: no-repeat;
    position: 0 50%;
    size: 25px;
  }
}

.container {
  @media (min-width: $screen-lg-desktop) {
    width: 990px;
  }

  @media (max-width: $screen-xs) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

div.label-inline {
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}

.page-header {
  border: 0;
  color: $highlight-blue;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}