.svg-icon, %svg-icon {
  line-height: 25px;
  padding-left: 35px;
  background: {
    repeat: no-repeat;
    position: 0 50%;
    size: 25px;
  }
}

.container {
  @media (min-width: $screen-lg-desktop) {
    width: 990px;
  }

  @media (max-width: $screen-xs) {
    padding-left: 5px;
    padding-right: 5px;
  }
}