a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.svg-icon, %svg-icon {
  line-height: 35px;
  padding-left: 35px;
  background: {
    repeat: no-repeat;
    position: 0 50%;
    size: 35px;
  }
}

.container {
  @media (min-width: $screen-lg-desktop) {
    width: 990px;
  }

  @media (max-width: $screen-xs) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

div.label-inline {
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}

.bold-text {
  font-weight: bold;
}

.align-center {
  text-align: center;
}

.round-bg {
  img {
    @include border-radius(50%);
    width: 50px;
    height: 50px;
  }
}

.page-header {
  border: 0;
  color: $highlight-blue;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.sort-asc {
  @include arrow-image('down', 'highlight-blue', 'after');
}

.sort-desc {
  @include arrow-image('up', 'highlight-blue', 'after');
}

.separator {
  border-left: 1px solid grey;
  display: inline-block;
  height: 0.9em;
  margin: 0 15px;
  text-indent: -99999px;
  vertical-align: middle;
  width: 1px;
}

a {
  .glyphicon-remove {
    color: $color-red;
    font-size: 60%;
    margin-left: 4px;
  }
}

ul {
  list-style: none;
}

.table-display {
  display: table;
}