.field-name-title {
  color: $color-gray;

  h2 {
    margin: 0;
  }

  a {
    color: $color-blue;
    font-size: 75%;
  }
}

.field-name-c4m-body {
  color: $color-gray;
  overflow: auto;
}

.user-name {
  color: $color-blue;

  & + .post-date {
    &:before {
      color: $color-blue;
      content: '|';
      margin: 0 10px;
    }
  }
}

.post-date {
  color: $color-blue;
}

.organiser, .group {
  .label-inline {
    margin-right: 5px;
  }
}

.date {
  .label-inline {
    margin-right: 5px;
  }
}

.user-name-and-creation {
  margin: 10px 0;
  padding-bottom: 10px;
  .label-inline , .user-name, .creation-date {
    float: left;
  }
  .user-name {
    margin: 0px 5px;
  }

  .creation-date {
    margin-left: 10px;
    border-left: 1px solid $color-gray;
    padding-left: 10px;
  }
}

.node-icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 35px;
  display: inline-block;
  width: 35px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.field-name-c4m-ds-content-footer-stats {
  color: $color-gray;
  margin-top: 25px;

  .download-link-icon {
    background-position-x: 15px;
    border-left: 1px solid $color-gray-light;
    float: right;
    margin-left: 5px;
    padding-left: 50px;
  }
}

.field-name-c4m-ds-content-type-icon {
  float: left;
  width: 35px;

  & ~ .field-name-title, & ~ .field-name-c4m-ds-content-footer-stats {
    margin-left: 35px;
    padding-left: 15px;

    margin-top: 0;

    h2 {
      margin-top: 5px;
    }
  }
}

.field-name-c4m-ds-group-membership-type {
  float: right;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.field-name-c4m-related-document,
.group-node-documents {
  margin-top: 30px;

  .label-above {
    font-size: $font-size-h4;
    margin-top: 15px;
  }

  .field-label {

    .label-above {
      color: $highlight-blue;
      font-size: $font-size-h2;
      font-weight: lighter;
      margin-bottom: 25px;
      text-transform: uppercase;
    }
  }

  .node-document {
    padding: 18px 0;
    border-bottom: 1px solid $color-gray-light;

    .field-name-title {

      h3 {
        margin-top: 5px;
        margin-bottom: 5px;

        a {
          color: $color-gray;
        }
      }
    }

    .document-type {
      margin-right: 10px;
    }

    .document-size {
      margin-left: 10px;
    }
  }
}

.comment-wrapper {
  .title {
    color: $highlight-blue;
    font-size: $font-size-h2;
    //    font-weight: lighter;
    font-weight: normal;
    margin: 50px 0 15px;
    text-transform: uppercase;
  }
}

.field-name-c4m-user-picture {
  img {
    border-radius: 50%;
    max-width: inherit;
  }
}

.node {
  .group-right {
    .field-name-c4m-user-picture {
      float: left;
    }
  }
}

.user-name {
  display: inline-block;

  & + .creation-date {
    display: inline-block;
    border-left: 1px solid $gray;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 0.8em;
  }

  &.icon {
    line-height: 30px;
    .organisation-icon {
      margin-left: 10px;
      vertical-align: top;
      height: auto;
    }
  }
}

.field-separator {
  display: inline-block;
  border-left: 1px solid $gray;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 0.8em;
}

.field-name-c4m-user-first-and-last-name {
  color: $color-blue;
  display: inline-block;

  .field-label{
    color: $color-gray-dark;
  }

  & + .field-name-post-date {
    color: $color-blue;
    display: inline-block;

    &:before {
      color: $color-blue;
      content: '|';
      margin: 0 10px;
    }
  }
}

.field-name-og-vocabulary {

  .form-wrapper {
    display: none;
  }
}
