.field-name-title {
  color: $gray-darker;

  h2 {
    margin: 0;
  }

  a {
    color: $blue;
    font-size: 75%;
  }
}

.field-name-c4m-body {
  color: $gray-darker;
}

.user-name {
  color: $blue;

  & + .post-date {
    &:before {
      color: $blue;
      content: '|';
      margin: 0 10px;
    }
  }
}

.post-date {
  color: $blue;
}

.node-icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 35px;
  display: inline-block;
  width: 35px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.field-name-c4m-ds-content-footer-stats {
  color: $gray-darker;
  margin-top: 5px;
}

.field-name-c4m-ds-content-type-icon {
  float: left;
  width: 35px;

  & ~ .field-name-title, & ~ .field-name-c4m-ds-content-footer-stats {
    margin-left: 35px;
    padding-left: 15px;

    margin-top: 0;

    h2 {
      margin-top: 5px;
    }
  }
}

.field-name-c4m-related-document {
  margin-top: 50px;

  .field-label {
    color: $highlight-blue;
    font-size: $font-size-h2;
//    font-weight: lighter;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
}