/*
 * COLOR DEFINITIONS
 */

$color-beige: #D3D1C9;
$color-beige-light: #F3F2ED;
$color-black: #000000;
$color-blue: #557D86;
$color-blue-light: #8BBCCA;
$color-blue-ultra-light: #F6F6F6;
$color-blue-dark: #2B4753;
$color-brown: #7C6E5A;
$color-gray-extra-light: #E7EAD7;
$color-light-gray: #D3D3D3;
$color-gray: #70706D;
$color-gray-dark: #3E3E3E;
$color-gray-light: #EEEEEE;
$color-green: #ACBD40;
$color-green-light: #F0FED0;
$color-orange: #D66745;
$color-red: #C65A56;
$color-white: #FFFFFF;
$color-yellow: #F6CA50;
$color-blue-dark: #374E5A;
$color-blue-mid: #4A93A3;

/*
 * DECLARATIVE COLORS
 */

$color-public: $color-green;
$color-restricted: $color-yellow;
$color-private: $color-red;

$userbar-blue: $color-blue-dark;
$highlight-blue: $color-blue-light;

$public: $color-public;
$restricted: $color-restricted;
$private: $color-private;

$link-color: $color-blue;
$link-hover-color: $link-color;

$activity-load: $color-green-light;

// Avatar bg colors:
$ava-dark-navy: #47727B;
$ava-pastel-pink: #D1A2B4;
$ava-beige: $color-beige;
$ava-brown: $color-brown;
$ava-brown-light: #C8A687;
$ava-blue: $color-blue;
$ava-salmon: #FBA490;
$ava-pastel-orange: #CF7F58;
$ava-green: $color-green;
$ava-green-light: #8CD771;
$ava-pink-dark: #523F46;
