.group {

  .container {
    padding-left: 30px;

    @media (max-width: $screen-md) {
      padding-left: 5px;
    }

    .main-banner {
      min-height: 298px;
      
      .main-title {
        color: white;
        font-weight: normal;
        font-size: 47px;
        padding: 30px 0 1px 8px;
        margin: 0;
        text-transform: uppercase;

        @media (max-width: $screen-xs) {
          font-size: 25px;
          margin-bottom: 5px;
        }
      }

      .public {
        background: url("../images/main/icons-sprite.png") 11px -1500px no-repeat;
        padding: 3px 0 0 44px;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: white;
        font-size: 31px;
        font-weight: bold;

        @media (max-width: $screen-xs) {
          font-size: 25px;
        }
      }

      .banner {
        margin-top: -5px;
        //box-shadow: 0 10px 5px #888888;
      }
    }

    .add-activity {
      margin: 39px 5px 26px 0;
      float: left;
      width: 100%;

      input[type='text'],
      textarea {
        height: 43px;
        font-size: 12px;
        padding: 0 70px 0 14px;

        @media (max-width: $screen-xs) {
          font-size: 9px;
        }
      }

      input[type='button'] {
        width: 57px;
        height: 28px;
        position: absolute;
        top: 6px;
        right: 7px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 10px;
        font-weight: bold;
      }

      .filter,
      .post-type {
        margin: 14px 0 10px;
        width: 100%;

        li {
          float: left;
          margin: 0 -4px 0 17px;

          a {
            width: 25px;
            height: 30px;
            display: inline-block;
          }

          &.discussion {

            a {
              background: url("../images/main/icons-sprite.png") 0 -984px no-repeat;
            }
          }

          &.question {

            a {
              background: url("../images/main/icons-sprite.png") 0 -276px no-repeat;
            }
          }

          &.idea {

            a {
              background: url("../images/main/icons-sprite.png") 0 -368px no-repeat;
            }
          }
        }
      }

      &.active-form {
        margin: 29px 5px 33px 3px;

        .round-bg {
          float: left;
          width: 45px;
          height: 45px;
        }

        .title-input {
          position: relative;

          &:before {
            content: "◄";
            position: absolute;
            top: 15px;
            left: 52px;
            color: $background-gray;
          }

          input[type="text"] {
            width: 88%;
            margin-left: 17px;
            padding: 4px 10px 0 20px;
          }
        }

        textarea {
          margin-top: -2px;
          height: 147px;
          @include border-radius(2px);
          padding: 10px;
        }

        .filter {
          margin: 16px 0 10px;

          li {
            margin: 0 -2px 0 14px;

            &.discussion {

              a {
                background-position:0 -932px;
              }
            }
          }
        }

        .post-wrapper {
          text-align: right;
          margin: 5px 0 7px 0;
          width: 40%;
          float: right;

          .post-type {
            margin: 0;

            li {
              margin: 0 -8px 0 18px;

              &.discussion {

                a {
                  background: url("../images/main/icons-sprite.png") 0 -32px no-repeat;
                }
              }

              &.question {

                a {
                  background: url("../images/main/icons-sprite.png") 0 -148px no-repeat;
                }
              }

              &.idea {

                a {
                  background: url("../images/main/icons-sprite.png") 0 -190px no-repeat;
                }
              }
            }
          }

          input[type='button'] {
            width: 82px;
            height: 33px;
            position: relative;
            top: -2px;
            right: 5px;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 14px;
            font-weight: bold;
            border-left: 0 none;
            color: white;
            background-color: $main-color;
            @include border-radius(20px);
          }
        }

        .categories {
          float: left;
          width: 100%;

          .cats-title {
            color: $main-blue;
            border-bottom: 1px solid $main-blue;
            padding-bottom: 6px;
            margin-bottom: 30px;

            h2 {
              margin: 0;
              display: inline-block;
            }

            span {
              font-size: 13px;
              padding-left: 7px;
            }
          }

          .options {
            margin: 1px 0 0 7px;

            &.open {
              margin-top: 17px;
            }

            &.zone {
              margin-bottom: 25px;
            }

            > label {
              font-size: 13px;
              text-transform: uppercase;
              color: $main-blue;
              font-weight: normal;
              padding-left: 11px;
              margin: 0 0 4px 0;
            }

            input[type="checkbox"] {
              position: absolute;
              border: 0 none;
              opacity: 0;
            }

            input[type="checkbox"] + label {
              position: relative;
              padding: 0 0 0 25px;
              font-size: 12px;
              line-height: 16px;
              text-transform: capitalize;
              font-weight: normal;
              margin: 0;
            }

            input[type="checkbox"] + label:before {
              content:"";
              display:block;
              position:absolute;
              top:2px;
              left: 5px;
              height: 14px;
              width: 14px;
              background-color: $background-gray;
              @include border-radius(4px);
            }

            input[type="checkbox"]:checked + label:before {
              content:"";
              background: $main-color;
              border: 3px solid $background-gray;
            }
          }
        }

        .tags {
          position: relative;
          margin-top: 13px;

          input[type='text'] {
            background: transparent;
            border: 0 none;
            padding: 10px 10px 0;
            width: 100%;
            border-bottom: 1px solid $light-gray;
            @include border-radius(0);
          }

          input[type='button'] {
            top: 11px;
            right: 0;
            font-size: 30px;
            font-weight: normal;
            border-left: 1px solid $light-gray;
            width: 50px;
          }
        }
      }
    }

    .article-teaser {
      background-color: #E8E8E8;
      padding: 10px 0 10px 20px;
      position: relative;
      color: black;
      margin: 28px 10px 0 22px;

      .title {
        padding: 2px 0 7px 0;

        h3 {
          margin: 0;
          display: inline-block;
          font-size: 52px;
        }

        .teaser-close {
          position: absolute;
          top: 15px;
          right: 20px;
          font-size: 21px;
          font-weight: bold;
          line-height: 1;
          color: black;
          text-shadow: 0 1px 0 white;
        }
      }

      .content {
        font-size: 12px;

        .cont-read {
          margin-top: 10px;
          color: $light-gray;
          font-weight: bold;
          display: inline-block;
          font-size: 12px;
          padding-left: 15px;
        }
      }

      .read-all {
        position: absolute;
        left: 20px;
        bottom: 10px;
        color: black;
        font-weight: bold;
        font-size: 12px;
      }
    }

    .group-info {
      margin: 69px 0 0 24px;
      padding-left: 7px;
      font-size: 12px;
      position: relative;
      border-left: 2px solid $light-gray;

      @media (max-width: $screen-md) {
        margin-left: 0;
      }

      .blue-title {
        padding: 0 0 15px 11px;
        border-bottom: 1px solid $main-blue;
      }

     /*.edit {
        font-size: 19px;
        position: absolute;
        right: 14px;
        top: 21px;
        border-left: 2px solid $main-blue;
        padding-left: 24px;
        line-height: 17px;
        letter-spacing: 0;
      }*/

      .creation {
        padding: 8px 0 0 9px;
      }

      .description {
        margin: 0 0 24px 9px;
        line-height: 18px;
        font-weight: bold;
      }

      /*.request-membership {
        background: $main-blue;
        @include border-radius(20px);
        text-align: center;
        display: inline-block;

        a {
          padding: 10px 35px;
          font-size: 25px;
          color: white;
        }
      }*/

      .more-settings {
        display: block;
        margin: 4px 0 0 10px;
        padding-bottom: 2px;
        font-weight: bold;
        border-bottom: 1px dashed $light-gray;
        width: 97%;

        a {
          color: $light-gray;

          span {
            font-size: 20px;
            display: inline-block;
          }
        }

        .config {
          float: right;
          position: relative;
          top: -28px;

          li {
            width: 25px;
            height: 25px;
            float: left;
            margin-left: 5px;
            background: url("../images/main/icons-sprite.png") 0 0 no-repeat;

            &.notification {
              background-position: 0 -1570px;
            }

            &.settings {
              background-position: 0 -1633px;
            }
          }
        }
      }

      .info {
        margin: 17px 0 0 2px;

        .round-bg {
          float: left;
          margin: -8px 4px 0 0;
          width: 50px;
          height: 50px;
        }

        label {
          display: block;
          color: $main-color;
          margin-bottom: 2px;
        }

        a {
          text-transform: capitalize;
          color: $dark-blue;
        }

        &:last-child {
          padding-bottom: 12px;
          border-bottom: 2px dotted $main-blue;
        }

        &.moderators {
          margin: 17px 0 0 10px;
        }

        &.members-count,
        &.topics {
          margin: 6px 0 0 10px;
        }
      }
    }

    .highlights {
      margin: 65px 0 0 22px;
      border-left: 2px solid $light-gray;
      padding-left: 25px;
      float: left;

      @media (max-width: $screen-md) {
        margin-left: 0;
      }

      .post {
        background: none;
        border-bottom: 1px dashed #949494;
        margin: 6px 0 13px -16px;
        padding: 0 0 10px 0;
        width: 98%;

        &.first {
          margin-top: 27px;
          border-top: 0 none;
        }

        &.last {
          border-bottom: 0 none;
        }

        .content-wrapper {

          .post-action {
            float: left;
          }

          .post-content {
            margin-top: 0;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            padding-left: 0;
            float: left;
            width: 80%;

            .user-text {
              margin-top: 0;
            }
          }

          .post-details {
            color: $main-green;
            padding-left: 54px;
            float: left;

            a,
            a:hover {
              color: $main-green;
            }
          }
        }

        &.blog {

          .icon {
            background-position: 0 -230px;
          }
        }

        &.discussion {

          .icon {
            background-position: 0 -66px;
          }
        }

        &.comment {

          .icon {
            background-position: 0 -106px;
          }
        }

        &.document {

          .icon {
            background-position: 0 -275px;
          }
        }

        &.event {

          .icon {
            background-position: 0 -366px;
          }
        }

        &.new-member {

          .icon {
            background-position: 0 -500px;
          }
        }
      }
    }

    .twitter-feed {
      margin: 55px 0 0 22px;
      border-left: 2px solid $light-gray;
      padding-left: 20px;
      float: left;
      overflow: hidden;

      @media (max-width: $screen-md) {
        margin-left: 0;
      }

      .twitter-icon {
        background: url("../images/main/twitter.jpg") 0 0 no-repeat;
        width: 178px;
        height: 39px;

      }
    }

    .recent-members {
      margin: 40px 0 0 22px;
      border-left: 2px solid $light-gray;
      padding-left: 20px;
      float: left;
      width: 90%;

      @media (max-width: $screen-md) {
        margin-left: 0;
      }

      .title {

        .new-member {
          padding: 0 0 11px 35px;
          background: url("../images/main/icons-sprite.png") 1px -453px no-repeat;
          font-weight: normal;
        }
      }

      .content {

        > div {
          padding-bottom: 5px;
        }
      }
    }
  }
}
