.group {

  .main-title {
    color: #0086c4;
    font-weight: normal;
    font-family: 'OstrichSans-Medium';
    font-size: 65px;
    margin: 0;

    @media (max-width: $screen-xs) {
      font-size: 40px;
      margin-bottom: 5px;
    }
  }

  .banner {
    margin-top: -5px;
    box-shadow: 0 10px 5px #888888;
  }

  .add-activity {

    input[type='text'] {
      height: 55px;
      font-size: 12px;
      padding-top: 10px;

      @media (max-width: $screen-xs) {
        font-size: 9px;
      }
    }

    input[type='button'] {
      background: url("../images/main/icons-sprite.png") 7px -931px no-repeat;
      width: 57px;
      height: 26px;
      position: absolute;
      top: 16px;
      right: 0;
    }
  }

  .filter {
    margin: 12px 0 18px;
    float: left;
    width: 100%;

    li {
      float: left;
      margin: 0 4px 0 5px;

      a {
        width: 25px;
        height: 25px;
        display: inline-block;
      }

      &.discussion {

        a {
          background: url("../images/main/icons-sprite.png") 0 0 no-repeat;
        }
      }

      &.question {

        a {
          background: url("../images/main/icons-sprite.png") 0 -150px no-repeat;
        }
      }

      &.idea {

        a {
          background: url("../images/main/icons-sprite.png") 0 -193px no-repeat;
        }
      }
    }
  }

  .post {
    float: left;
    background-color: $background-gray;
    margin: 0 0 5px -1px;
    width: 99.5%;
    padding: 20px 0 24px;
    font-size: 12px;

    .user-info {
      padding-left: 23px;

      @media (max-width: $screen-xs) {
        padding-left: 5px;
      }

      img {
        max-width: 73%;
        display: block;
      }
    }

    .content-wrapper {
      margin-left: -23px;

      .post-action {
        margin-bottom: 8px;

        .icon {
          border-right: 1px solid;
          width: 30px;
          height: 30px;
          margin-right: 8px;
          float: left;
          background-image: url("../images/main/icons-sprite.png");
          background-repeat: no-repeat;
          background-position: 0 0;
        }

        .author {
          display: inline-block;
          float: left;
          width: 80%;
          margin: -1px 0 -3px 0;
          letter-spacing: 3.4px;
          font-size: 14px;
        }

        .action {
          font-weight: bold;
          display: inline-block;
          padding-right: 13px;
          border-right: 2px solid;
          line-height: 10px;
        }

        .date {
          font-weight: bold;
          padding-left: 11px;
        }
      }

      .post-content {

        img {
          max-width: 80%;
        }

        .user-text {
          margin-top: 10px;
        }

        .comments {
          margin-top: 3px;
          font-weight: bold;
        }

        .user-link {
          margin: 37px 0 -4px 0;
          width: 105%;

          .link-thumb {

            img {
              max-width: 95%;
            }
          }

          .link-content {
            padding-left: 19px;

            .post-action {
              color: $main-color;

              .icon {
                background-position: 0 -105px;
              }
            }
          }
        }
      }
    }

    &.discussion {

      .post-action {
        color: $main-blue;

        .icon {
          background-position: 0 -30px;
        }
      }
    }

    &.document {
      padding-bottom: 17px;

      .post-action {
        color: $main-green;

        .icon {
          background-position: 0 -319px;
        }
      }
    }

    &.event {
      padding-bottom: 17px;

      .post-action {
        color: $main-brown;

        .icon {
          background-position: 0 -409px;
        }
      }
    }

    &.user-added {
      padding-bottom: 17px;

      .post-action {
        color: $main-red;

        .icon {
          background-position: 0 -454px;
        }
      }
    }
  }

  .group-info {
    margin-left: 46px;
    padding-bottom: 10px;
    border-bottom: 2px dotted $main-green;
    font-size: 12px;

    @media (max-width: $screen-md) {
      margin-left: 0;
    }

    .public {
      background: url("../images/main/icons-sprite.png") 0 -794px no-repeat;
      padding-left: 41px;
      margin-bottom: 8px;
    }

    .description {
      margin: 0 0 16px 2px;
      line-height: 18px;

      .more-link {
        color: $light-gray;
        display: block;
        margin-top: 8px;
        font-weight: bold;

        span {
          font-size: 20px;
          display: inline-block;
        }
      }
    }

    .info {
      margin: 7px 0 0 2px;
      color: $main-blue;

      label {
        display: block;
        color: $main-color;
        margin-bottom: 2px;
      }

      a {
        text-transform: capitalize;
      }
    }
  }

  .highlights {
    margin: 40px 0 0 55px;

    @media (max-width: $screen-md) {
      margin-left: 0;
    }

    .post {
      background: none;
      border-bottom: 1px dashed $light-gray;
      margin-bottom: 20px;
      padding: 1px 0 13px 23px;
      width: 105%;

      @media (max-width: $screen-md) {
        width: 98%;
      }

      &.last {
        border-bottom: 0 none;
      }

      .content-wrapper {

        .post-action {

          .author {
            width: 85%;
          }
        }

        .post-content {
          margin-top: 12px;
        }
      }

      &.blog {

        .icon {
          background-position: 0 -230px;
        }
      }

      &.discussion {

        .icon {
          background-position: 0 -66px;
        }
      }

      &.comment {

        .icon {
          background-position: 0 -106px;
        }
      }

      &.document {

        .icon {
          background-position: 0 -275px;
        }
      }

      &.event {

        .icon {
          background-position: 0 -366px;
        }
      }

      &.new-member {

        .icon {
          background-position: 0 -500px;
        }
      }
    }
  }
}
