.homepage {

  .row {
    margin: 0;
  }

  .banner {
    position: relative;
    min-height: 298px;

    img {
      margin-left: 10px;

      @media (max-width: $screen-xs) {
        margin-left: 0;
      }
    }

    #homepage-video {
      width: 100%;
      display: none;
    }

    #watch-video-link {
      background: url("../images/homepage/play-bg.png") 3px 2px no-repeat #305660;
      position: absolute;
      left: 33.4%;
      bottom: 30px;
      color: white;
      font-weight: bold;
      padding: 10px 39px 10px 58px;
      text-transform: uppercase;
      cursor: pointer;
      opacity: 0.9;
      font-size: 15px;
      @include border-radius(50px);

      @media (max-width: $screen-xs) {
        left: 0;
        font-size: 13px;
      }

      @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        left: 22%;
        bottom: 78px;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
        left: 30%;
      }
    }
  }

  #main-nav {
    border-bottom: 2px solid $main-blue;
    margin-top: 8px;
    padding-bottom: 14px;

    .container {

      li {

        a,
        a:hover {
          background: none;
          padding-left: 29px;

          &.active {
            color: $main-blue;
          }

          &:after {
            padding-left: 28px;
            line-height: 1px;
          }

          @media (max-width: $screen-xs-max) {
            font-size: 18px;
            margin-bottom: 15px;
            display: block;

            &:after {
              content: "";
              padding-left: 0;
            }
          }
          @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
            padding-left: 15px;

            &:after {
              padding-left: 15px;
            }
          }
        }
      }
    }
  }

  #about {
    text-align: center;
    background-color: $background-gray;
    color: $main-navy;
    font-size: 16px;

    .container {
      padding: 20px 5px;

      .close {
        opacity: 1;
        margin-right: 6px;
      }

      h2 {
        letter-spacing: 0.1px;
        margin-left: 42px;

        @media (max-width: $screen-md-min) {
          margin-left: 0;
        }
      }

      .about-content {
        padding: 6px 8px 4px;
        margin-left: 7px;
        font-size: 17px;
        line-height: 22px;

        @media (max-width: $screen-md-min) {
          margin-left: 0;
        }
      }

      .join-members {
        padding: 5px 33px;
        background: $main-orange;
        color: white;
        display: inline-block;
        font-size: 18px;
        margin: 10px 0 0 19px;
        font-weight: bold;
        text-transform: uppercase;
        @include border-radius(30px);

        @media (max-width: $screen-md-min) {
          margin-left: 0;
        }
      }
    }
  }

  .voices-views {
    text-align: center;
    margin: 40px 0 0 24px;
    position: relative;

    @media (max-width: $screen-xs-max) {
      text-align: left;
      margin-left: 0;
    }

    h2 {
      margin-left: 2px;
      word-spacing: -5px;
    }

    .read-all {
      float: right;
      font-weight: bold;
      margin: -21px 5px 11px 0;
    }

    #overlay {
      position: absolute;
      top: 56px;
      right: 13px;
      background: rgba(25, 25, 25, 0.4);
      padding: 28px 37px 5px;
      width: 40.5%;
      color: white;
      text-align: left;
      line-height: 20px;
      letter-spacing: 0.8px;

      @media (max-width: $screen-xs) {
        display: none;
      }

      @media (max-width: $screen-xs-max) {
        width: 99%;
        right: 0;
        top: 40px;
      }

      @media (max-width: $screen-md-max) {
        padding: 5px;
      }

      .overlay-title {
        font-size: 20px;
        line-height: 23px;
        font-weight: bold;
        text-transform: uppercase;

        @media (max-width: $screen-sm-max) {
          font-size: 13px;
          line-height: 13px;
        }
      }

      .overlay-date {
        color: $dark-blue;
        font-weight: bold;
      }

      .overlay-content {
        font-weight: bold;
        margin-top: 10px;
        font-size: 15px;
        line-height: 18px;

        @media (max-width: $screen-md-min) {
          font-size: 13px;
          line-height: 13px;
        }
      }

      .continue-reading {
        color: white;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
      }

      .pager {
        margin: -4px 0 0 3px;
      }
    }
  }

  .post-row {
    margin-top: 93px;
    border-bottom: 2px solid $background-gray;
    width: 100%;
    margin-left: 17px;

    .side-col {

      .update,
      .events {
        padding-top: 19px;
        width: 85%;

        .blue-title {
          letter-spacing: 1.1px;
        }

        .title {
          font-weight: bold;
          margin-top: 18px;
          margin-left: 2px;
          letter-spacing: 0.3px;
          word-spacing: 1px;
          line-height: 23px;
        }

        .content {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }

    .col-sm-8 {
      border-left: 2px solid $background-gray;
      margin-left: -52px;

      @media (max-width: $screen-lg-min) {
        margin-left: 0;
      }
    }

    .post {
      margin-left: 23px;
      width: 108%;

      @media (max-width: $screen-xs-min) {
        margin-left: 0;
      }

      @media (max-width: $screen-lg-min) {
        width: 100%;
      }

      .user-info {
        padding-left: 0;

        img {
          max-width: 46%;
          display: block;
        }
      }

      .content-wrapper {
        margin-left: -80px;

        @media (max-width: $screen-xs-min) {
          margin-left: -30px;
        }

        @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
          margin-left: -55px;
        }
      }

      &:last-child {
        border-bottom: 0 none;
      }

      &.document-post {
        padding-bottom: 24px;
      }

      &.event-post {
        padding: 25px 0 22px;

        .action {
          border-right: 0 none;
          font-size: 17px;
          line-height: 25px;
          margin-left: 2px;
          float: left;

          @media (max-width: $screen-md-max) {
            width: 80%;
            font-size: 15px;
          }
        }

        .title {
          width: 100%;
          float: left;
          font-size: 25px;
          margin: 13px 0 0;
          font-weight: bold;
          line-height: 20px;
          @media (max-width: $screen-xs-max) {
            font-size: 18px;
          }
        }

        .post-content {
          font-size: 17px;
          float: left;

          .user-text {
            margin-top: 5px;
          }
        }

        .author {
          color: $main-brown;
          font-weight: bold;
          font-size: 15px;
          margin-top: 6px;
          float: left;
          width: 100%;
        }
      }
    }

    &:last-child {
      margin-top: 137px;
    }
  }
}
