// Common utility classes to extend or settings.
@import "base/settings";

// Layout : Layout rules divide the page into sections.
// Layouts hold one or more modules together.
@import "layout/header";

@import "layout/header_group";

// Styles for quick form.
.modal-content {
 padding: 10px;

 .actions {
   padding-bottom: 30px;
 }
}

.document {
  padding-top: 5px;
  border-top: 1px solid #000;
}

// Modules: Modules are the reusable, modular parts of our design.
// They are the callouts, the sidebar sections, the product lists and so on.

// State: State rules are ways to describe how our modules or layouts will
//look when in a particular state.
@import "state/book_navigation";
@import "state/menu";
