<div ng-show="!itemsLength">
  No categories have been defined yet.
</div>
<form action="#" class="search">
  <input ng-model="searchTerm" ng-show="itemsLength" ng-change="updateSearch()" class="form-control" type="text" placeholder="Search"/>
</form>
<ul ng-show="itemsLength">
  <li class="checkbox table-display" ng-repeat="item in filteredTerms">
    <ul ng-show="item.selected == true" class="indent">
      <li ng-repeat="child in item.children">
        <label>
          <input type="checkbox" ng-name="type" ng-model="model[child.id]"> {{child.label}}
        </label>
      </li>
    </ul>
    <label ng-show="{{item.children.length}}" ng-click="updateSelected(item);" class="parent-select">
      {{item.label}}
    </label>
  </li>
</ul>

