<div ng-show="relatedDocuments.length > 0" class="row">
  <ul>
    <li ng-repeat="document in data" class="document row">
      <span class="icon icon-missing"></span>

      <div class="document-description">
        <p> {{document.label}} </p>

        <p> Filetype: {{document.document.filemime}} | Filesize:
          {{document.document.filesize}} </p>
        <a href="javascript://" ng-click="removeDocument(document.id)">Remove
          this
          document</a>
      </div>
    </li>
  </ul>
</div>
