<div ng-show="relatedDocuments.length > 0" class="row documents-uploaded">
    <ul>
        <li ng-repeat="document in data" class="document row">
            <h3 title="{{document.label}}">{{document.label}}</h3>
            <a href="javascript://" ng-click="removeDocument(document.id)" title="Remove {{document.label}} document">Remove this document</a>

            <p title="Filetype: {{document.document.filemime}} | Filesize: {{document.document.filesize}}">Filetype: {{document.document.filemime}} | Filesize: {{document.document.filesize}}</p>
        </li>
    </ul>
</div>
