.icon-wrapper {
  .icon-col {
    float: left;

    .comment & {
      width: 75px;
    }
  }
  .content-col {
    margin: 0 0 0 35px;
    padding-left: 15px;

    .comment & {
      margin-left: 75px;
    }
  }
}

.cols-3 {
    .icon-wrapper {
      .icon-col {
        float: left;
      }
      .content-middle {
        float: left;
        padding-left: 15px;
        max-width: 420px;
      }
      .content-right {
        float: right;
        padding-left: 15px;
      }
  }
}
