.icon-wrapper {
  .icon-col {
    float: left;

    .comment & {
      width: 75px;
    }
  }
  .content-col {
    margin: 0 0 0 35px;
    padding-left: 15px;

    .comment & {
      margin-left: 75px;
    }
  }
}