.icon-wrapper {
  .icon-col {
    float: left;
    width: 35px;

    div {
      padding: 0;
      margin: 0;
    }
  }

  .content-col {
    margin: 0 0 0 35px;
    padding-left: 15px;

    div {
      padding: 0;
      margin: 0;
    }
  }
}