#block-c4m-content-group-header-name-banner {
  &.group-public {
    .group-title {
      background-image: image-url('group-icons/public-group.png');
      color: $public;
    }
  }
  &.group-private {
    .group-title {
      background-image: image-url('group-icons/private-group.png');
      color: $private;
    }
  }
  &.group-restricted {
    .group-title {
      background-image: image-url('group-icons/restricted-group.png');
      color: $restricted;
    }
  }

  .group-title {
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 48px;
    font-size: 48px;
    font-weight: lighter;
    padding-left: 70px;
    text-transform: uppercase;
    display: inline-block;
  }
}
