.main-container {

  .field-name-title {
    display: inline-block;
  }

  .group-status {
    margin: 0 20px 10px 10px;
    display: inline-block;
    border: 1px solid $color-black;
    padding: 0 4px;
    border-radius: 5px;
    text-transform: uppercase;
    vertical-align: middle;
  }

  .region-sidebar-first {
    @include box-shadow(none);

    background: none;
    border: 0;
    border-radius: 0;

    @media screen and (min-width: $screen-md-min) {
      border-right: 1px solid $color-gray-dark;
      margin: 0 15px 0 0;
      padding: 0 15px 0 0;
    }
  }
}

footer.footer {
  .footer-wrapper {

  }
}

#c4mVideoModal {

  .modal-dialog {
    @media screen and (min-width: $screen-md-max) {
      width: 900px;
    }
  }
}
