// SMALL SCREENS
@media screen and (max-width: $screen-xs-max) {
  form {
    label {
      clear: both;
      display: block;
      float: none;
      width: 100%;
    }
    input {
      clear: both;
      display: block;
      float: none;
      width: 100%;
    }
  }

  #c4m-location-add-more-wrapper {
    .panel-body {
      > div {
        &.form-item-c4m-location-und-0-postal-code, &.getlocations_fields_city_wrapper {
          display: block;
          float: none;
          width: 100%;
        }
      }
    }
  }

  .js {
    .field-name-c4m-discussion-type, .field-name-c4m-event-type {
      .form-type-radios {
        .form-item {
          border: none;
        }
      }
    }
  }

  #c4m-datetime-end-add-more-wrapper {
    .container-inline-date {
      clear: both;
      float: none;
      width: 100%;
    }
  }
}