.carousel {
  text-align: center;

  .block-title {
    color: $color-brown;
    display: inline-block;
    border-bottom: 0 none;
    margin: 0;
    padding: 0 0 8px 90px;
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 1px;
  }

  .see-more-link {
    float: right;
    font-size: 16px;
    margin: 18px 18px 0 0;
  }
}
ul[rn-carousel],
.no-carousel {
  width: 100%;
  height: 313px;
  margin: 0 auto;

  li.one-slide {
    height: 100%;
  }

  .bgimage {
    text-align: right;
    color: white;
    background-size: cover;
    height: 100%;
    background-position: center center;

    a {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }

    .intro-text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      text-align: left;
      margin: 10px 10px;

      .title,
      .text,
      .date {
        text-align: left;
        display: block;
        padding-bottom: 10px;

        &.title {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 18px;
          padding-bottom: 0;
        }

        &.date {
          font-weight: bold;
        }
      }
    }
  }

  .rn-carousel-control {
    top: 31%;
    font-family: FontAwesome;
    font-size: 47px;

    &:before {
      font-size: 35px;
      color: $color-black;
      font-weight: bold;
    }

    &.rn-carousel-control-prev {
      left: .3em;

      &:before {
        content: "\f053";
      }
    }

    &.rn-carousel-control-next {

      &:before {
        content: "\f054";
      }
    }
  }
}

div.rn-carousel-indicator {
  text-align: center;
  margin-top: -5px;

  span {
    font-size: 22px;
    margin-right: 11px;
    margin-left: -9px;
    color: $color-blue-light;

    &.active {
      color: $color-blue-dark;
    }
  }
}
