.comment {

  margin-bottom: 25px;

  .new {
    display: none;
  }

  .field-name-comment-body {
    color: $color-gray-dark;
    margin-top: 10px;
  }
}

.comment-new {
  // Extra styling?
}

#comments {
  > .indented {
    margin-left: 90px;

    > .indented {
      margin-left: 90px;

      // Remove the direct ascendent selector if you want every level to keep indenting.
      // Three levels is already really large margin at 90px per level.
      > .indented {
        margin-left: 90px;
      }
    }
  }

  .links {
    clear: both;
    float: right;

    .comment-delete, .comment_delete {
      a {
        color: $highlight-blue;
        text-transform: uppercase;
      }
    }

    .comment-edit {
      a {
        color: $highlight-blue;
        text-transform: uppercase;
      }
    }

    .comment-reply {
      a {
        @include image-icon-png-fallback('icons', 'comment-reply'); // @TODO REAL ICON

        background-repeat: no-repeat;
        background-position: 0 50%;
        color: $highlight-blue;
        padding-left: 20px;
        text-transform: uppercase;
      }
    }
  }
}

.last-edited {
  color: $gray-light;
  float: right;
}