#edit-filter {
  display: inline-block;
  .form-type-radio {
    display: inline-block;
  }
}
.view-c4m-overview-events-landing, .view-c4m-overview-og-events-landing {
  position: relative;

  &.view-display-id-block_2 {
    .view-header {
      position: absolute;
      right: 0px;
      top: -50px;
    }
  }

  .view-header {
    margin: 0;
  }

  a.link-to-view {
    float: right;
    span {
      color: inherit;
    }
  }
}
#block-c4m-features-overview-events-event-views-links, #block-c4m-features-og-events-event-views-links {
  li {
    a {
      color: #999999;
    }
  }
}

.node-event {
  &.view-mode-teaser {
    .date {
      margin-right: 5px;
    }
  }
}