.pane-quick-form,
.drupal-form {

  .explanation {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }

  #form-spinner {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  .input-wrapper {
    margin-bottom: 20px;
  }

  .errors {
    color: $brand-danger;
  }

  ul, ol {
    list-style: none;
  }

  .form-group {
    width: 100%;
  }

  .form-group {
    .label-wrapper {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
      width: 100%;
      display: block;
    }

    .drop-box {
      height: 80px;
      text-align: center;
      display: table-cell;
      width: 565px;
    }
  }

  .file-wrapper {
    img {
      height: 50px;
      width: 50px;
    }
  }

  .selected-values {
    span {
      margin-right: 4px;
      float: left;
      display: inline-block;

      .fa-times {
        color: $brand-primary;
        cursor: pointer;
      }
    }
  }

  .popover-content {
    height: 190px;
    overflow-y: scroll;
  }

  .date {

    .input-group {

      table {

        tr.text-center {
          display: none;
        }
      }
    }

    .date-chevron {
      margin-top: 30px;
      text-align: center;
    }
  }

  .actions {
    margin-top: 20px;
  }

  .messages {
    margin-top: 20px;
  }

  .document_file {
    display: none;
  }

  .error-too-many-selected {
    color: red;
  }
}

.pane-quick-form {

  .place {
    .form-control {
      padding: 6px 10px;
    }
  }

  .input-group {
    width: 100%;
  }

  .group-resources {
    margin-bottom: 20px;
  }

  #more-content-options {
    margin-top: 10px;
  }

  button {
    &.bundle-select, &.btn-default {
      @extend .reset-button;

      margin-right: 15px;

      &[value=discussions] {
        @extend %svg-icon;

        @include link-icon-png-fallback('icons', 'discussion-qp-icon');
      }

      &[value=documents] {
        @extend %svg-icon;

        @include link-icon-png-fallback('icons', 'document-qp-icon');
      }

      &[value=events] {
        @extend %svg-icon;

        @include link-icon-png-fallback('icons', 'event-qp-icon');
      }

      &.active, &:hover {
        @include box-shadow(none);

        border-radius: 0;
        color: $color-blue !important;
      }
    }
  }

  .btn-group-selectors, .tags {
    @extend .quickpost-btn-group-selectors;

    .label-wrapper {
      border: 0;
      color: $color-gray-dark;
    }

    label {
      color: $color-gray-dark;
      display: block;
      font-size: 115%;
      font-weight: normal;
      text-transform: uppercase;
    }
    .row label {
      font-size: 90%;
      text-transform: none;
    }
  }
  .input-wrapper.tags {
    border-bottom: none;
  }
  .popup-button {
    button {
      @include read-more-icon('right');

      border: none;
      color: $color-blue;
      border-radius: 0;
      font-size: 90%;
      padding-bottom: 0;
      padding-left: 0;
      padding-top: 0;
      text-transform: uppercase;
    }
  }
}

.quickpost-btn-group-selectors {
  border-bottom: 1px solid $color-gray-light;
  margin: 15px 0;
  padding: 0 15px 15px 15px;
}

#quick-post-fields {
  border: 1px solid $color-gray-light;

  #cke_body {
    @include box-shadow(none);

    border: 0;

    .cke_inner .cke_wysiwyg_div {
      background: $color-beige;
    }
  }

  .btn-group {
    margin-bottom: 0;
  }

  .btn-group-discussion_type, .btn-group-event_type {
    border-bottom: 1px solid $color-gray-light;

    .btn-default {
      @extend %svg-icon;

      @extend %discussion-type-values;

      background-position: 5px 50%;
      background-repeat: no-repeat;
      background-size: 20px;
      border-right: 1px solid $color-gray-light;
      margin: 0;

      &:last-child {
        border-right: 0;
      }

      &[value=event] {
        @include link-icon-png-fallback('icons', 'event-qp-event');
      }

      &[value=learning] {
        @include link-icon-png-fallback('icons', 'event-qp-learning');
      }

      &[value=meeting] {
        @include link-icon-png-fallback('icons', 'event-qp-meeting');
      }
    }
  }

  .btn-group-event_type {
    .btn-default {
      padding-left: 0;
    }
  }

  .btn-group-discussion_type {

    .btn-default {
      padding-left: 25px;
    }
  }
}

.selected-values {
  span {
    color: $color-gray-dark;
    margin: 10px 10px 0 0 !important;
  }
}

.reset-button {
  background: none;
  border: none;
  border-radius: 0;

  &:active {
    @include box-shadow(none);
    border-radius: 0;
  }
}

.qp-post-button {
  display: inline-block;
  margin: 15px 8px 15px 15px;

  button {
    @include input-rounded($color-gray-dark);
  }
}

.qp-post-fullform {
  display: inline-block;
  margin: 15px 8px 15px 7px;

  a {
    color: $color-gray-dark;
  }
}

.qp-post-cancel {
  display: inline-block;
  float: right;
  margin: 15px;
}

.qp-timeselector {
  color: $color-gray-dark;

  table tr td, input {
    color: $color-gray-dark;
  }
}

// Styles for quick form.
.modal-content {
  padding: 10px;

  .actions {
    padding-bottom: 30px;
  }
}

.document {
  padding-top: 5px;
  border-top: 1px solid #000;
}

.place, .date {
  .input-group .form-control {
    @include input-rounded($color-beige, 15px);

    &.date-input {
      border-radius: 15px 0 0 15px;
    }
  }
}

%discussion-type-values {
  &[value=debate] {
    @include link-icon-png-fallback('icons', 'discussion-qp-debate');
  }

  &[value=idea] {
    @include link-icon-png-fallback('icons', 'discussion-qp-idea');
  }

  &[value=info] {
    @include link-icon-png-fallback('icons', 'discussion-qp-info');
  }

  &[value=question] {
    @include link-icon-png-fallback('icons', 'discussion-qp-question');
  }
}

.datetime-start, .datetime-end {
  table {
    @include input-rounded($color-beige, 15px);
    border-radius: 0 15px 15px 0;

    input {
      @include box-shadow(none);
      background-color: transparent;
    }
  }

  .date-container {
    display: inline-block;
    margin-right: 3%;
    width: 57%;
  }
  .time-container {
    display: inline-block;
    width: 40%;
  }
}

.file-wrapper {
  h4 {
    margin-top: 0;
  }
}
