.node-topic {
  &.view-mode-full {
    .group-header {
      @media screen and (min-width: $screen-sm-min) {
        background-color: $color-gray-light;
        border: 0;
        padding: 25px 25px 15px 25px;
        margin: 25px 0;
      }
    }
  }

  .group-c4m-header-meta {
    border: 1px solid $color-gray;

    @media screen and (min-width: $screen-sm-min) {
      background-color: $color-white;
      margin: -15px -15px 0 -15px;
      padding: 15px;
      position: relative;

      z-index: 2;

      p:last-child {
        margin: 0;
        padding: 0;
      }
    }
  }

  .group-c4m-header-bottom {
    color: $color-gray;
    margin-top: 15px;
  }

  .field-name-c4m-banner {
    @media screen and (min-width: $screen-sm-min) {
      position: relative;
      z-index: 1;

      img {
        margin: 0 auto;
      }
    }
  }

  .block-title {
    margin-top: 0;
  }

  .group-right {
    .field {
      clear: both;
      margin-bottom: 25px;

      h2 {
        border-color: $color-gray;
        color: $color-gray;
        font-weight: lighter;
      }

      .field {
        margin-bottom: 0;
      }
    }
  }
}

.page-topics {
  .page-header {
    color: $color-brown;
    text-align: center;
  }

  .view-header {
    font-size: 0.9em;
    margin: 20px auto;
    width: 90%;
  }

  .view-content {
    h3 {
      clear: both;
      color: $color-brown;
      font-weight: lighter;
      text-transform: uppercase;
    }
  }

  .views-row {
    border: 0;
    padding-bottom: 0;
  }

  .views-field {
    text-align: center;

    &.views-field-title {
      margin-top: 10px;
      height: 2.4em;
      line-height: 1.2em;
      overflow: hidden;
    }

    a {
      color: $color-blue-dark;
      font-size: 1.1em;
    }
  }
}
