/*
This a temporary file.
@TODO: Move all this css to website's SCSS.
*/

.explanation {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.errors {
  color: #b94a48;
}

.create-success {
  padding: 20px;
  background: yellow;
  text-align: center;
}

.input-wrapper {
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
}

.form-group .label-wrapper {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  width: 100%;
  display: block;
}

.drop-box {
  height: 80px;
  width: 200px;
  background: lightBlue;
  border: 1px solid grey;
  text-align: center;
  padding-top: 50px;
  margin: 20px 0;
}

.file-upload-drag {
  background: grey;
  border-color: lightBlue;
}

.file-wrapper img {
  height: 50px;
  width: 50px;
}

.checkboxes-wrapper {
  position: relative;
}

.checkboxes-wrapper .hidden-checkboxes {
  display: block;
  left: 120px;
  top: -60px;
}

.popover-content {
  height: 150px;
  overflow-y: scroll;
}

.actions {
  margin-top: 20px;
}

.actions .btn-primary {
  float: left;
}

#full-from-button {
  margin: 15px 0 0 30px;
  display: inline-block;
  float: left;
}


#clear-button {
  margin: 15px 0 0 30px;
  display: inline-block;
  float: right;
}
.messages {
  float: left;
  width: 100%;
  margin-top: 20px;
}
