<div class="explanation">
 <em>This is Angular!</em>
</div>

<form name="entityForm" ng-submit="submitForm(entityForm, data, bundleName)">

  <div class="form-group text" ng-class="{ 'has-error' : entityForm.label.$invalid && !entityForm.label.$pristine }">
    <label>Title</label>
    <input id="label" class="form-control" name="label" type="text" ng-model="data.label" placeholder="Title" required ng-minlength=3>
    <p ng-show="entityForm.label.$invalid && !entityForm.label.$pristine" class="help-block">Label is too short.</p>

    <div class="errors">
      <ul ng-show="serverSide.data.errors.label">
        <li ng-repeat="error in serverSide.data.errors.label">{{error}}</li>
      </ul>
    </div>
  </div>

  <bundle-select items="bundles" on-change="updateBundle" bundle-name="bundleName"></bundle-select>

  <div ng-show="bundles[bundleName]">
    <div class="form-group textarea" ng-class="{ 'has-error' : entityForm.body.$invalid && !entityForm.body.$pristine }">
      <label>Description</label>
      <textarea id="body" class="form-control" name="body" type="textarea" ng-model="data.body" placeholder="Description" cols="60" rows="3" ng-minlength=10 required></textarea>
      <p ng-show="entityForm.body.$invalid && !entityForm.body.$pristine" class="help-block">Description is too short.</p>
      <div class="errors">
        <ul ng-show="serverSide.data.errors.body">
          <li ng-repeat="error in serverSide.data.errors.body">{{error}}</li>
        </ul>
      </div>
    </div>

    <div class="form-group date" ng-show="bundleName == 'events'">
      <label>Date</label>
      <div class="row">
        <calendar data="data"></calendar>
      </div>
    </div>

    <div class="form-group categories">
      <label>Categories</label>
    <span ng-repeat="category in data.categories">
      <label class="checkbox">
        <input type="checkbox" ng-model="selections[category.tid]" name="category" id="{{ category.tid }}" />
        {{ category.name }}
      </label>
    </span>
    </div>

    <div class="actions">
      <button type="submit" class="btn btn-primary" tabindex="100">POST</button>
    </div>
  </div>
</form>
<h2>Console (Server side)</h2>

<div>
  <div ng-show="serverSide.status == 200" class="create-success">
    <strong>
      New {{ bundleName }} created: <a ng-href="{{ serverSide.data.self }}" target="_blank">{{ serverSide.data.label }}</a> (node ID {{ serverSide.data.id }})
    </strong>
  </div>

  <div ng-show="serverSide.status">
    <div>
      Status: {{ serverSide.status }}
    </div>
    <div>
      Data: <pre pretty-json="serverSide.data" />
    </div>
  </div>

  <small>Brought to you by <a href="http://gizra.com" target="_blank">Gizra</a></small>
</div>
