/*
 * COLOR DEFINITIONS
 */
/*
 * DECLARATIVE COLORS
 */
body {
  padding: 1em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
a {
  color: #557D86;
  text-decoration: none;
}
a:hover {
  color: #557D86;
  text-decoration: underline;
}
@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Volumes\/webdev\/www\/amplexor\/capacity4more\.dev\/project\/profiles\/capacity4more\/themes\/c4m\/kapablo\/build\/src\/sass\/mail\/_main\.scss;
  }
  line {
    font-family: \000032;
  }
  filename {
    font-family: file\:\/\/\/Volumes\/webdev\/www\/amplexor\/capacity4more\.dev\/project\/profiles\/capacity4more\/themes\/c4m\/kapablo\/build\/src\/sass\/mail\/_main\.scss;
  }
  line {
    font-family: \0000310;
  }
  filename {
    font-family: file\:\/\/\/Volumes\/webdev\/www\/amplexor\/capacity4more\.dev\/project\/profiles\/capacity4more\/themes\/c4m\/kapablo\/build\/src\/sass\/mail\/_main\.scss;
  }
  line {
    font-family: \0000314;
  }
}
